h2 {
  font-style: normal;
}
.button {
  display: block;
}
.button-wrapper {
  margin-top: 10px;
}
#vote-button {
  padding: 15px;
  font-size: 20px;
}
ul#demo-app-list {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
ul#demo-app-list:before {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-list:after {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-list li {
  display: inline-block;
  width: 45%;
  height: auto;
  max-height: 380px;
  overflow: hidden;
  margin: 0;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul#demo-app-list li div.app-wrapper {
  width: 320px;
  padding: 10px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #888888;
  margin: 0 auto;
  height: 330px;
  max-height: 330px;
  overflow: hidden;
}
ul#demo-app-list li div.app-wrapper div.app-title,
ul#demo-app-list li div.app-wrapper div.app-description {
  padding-left: 7px;
  max-width: 320px;
  text-align: left;
}
ul#demo-app-list li div.app-wrapper div.app-title a,
ul#demo-app-list li div.app-wrapper div.app-description a {
  font-size: 17px;
}
ul#demo-app-list li div.app-wrapper div.app-description {
  height: 55px;
  position: relative;
  overflow: hidden;
  line-height: 1.4em;
}
ul#demo-app-list li div.app-wrapper div.app-description:after {
  content: '...';
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #FFF;
}
ul#demo-app-list li .app-wrapper > a {
  width: 320px;
  height: 240px;
  display: block;
  overflow: hidden;
}
ul#demo-app-list li img {
  width: 320px;
  height: auto;
  border: solid 1px #eee;
}
ul#demo-app-content-list {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
ul#demo-app-content-list:before {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-content-list:after {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-content-list li {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul#demo-app-content-list li:not(:first-child) {
  border-top: solid 1px darkgray;
}
ul#demo-app-content-list li h1,
ul#demo-app-content-list li h2,
ul#demo-app-content-list li h3,
ul#demo-app-content-list li h4,
ul#demo-app-content-list li h5,
ul#demo-app-content-list li h6 {
  font-style: normal;
}
ul#demo-app-content-list li#demo-app-title a.img-wrapper {
  width: auto;
  padding-right: 10px;
  height: 240px;
  float: left;
  display: block;
  overflow: hidden;
  text-align: left;
}
ul#demo-app-content-list li#demo-app-title a.img-wrapper img {
  width: auto;
  height: 240px;
}
ul#demo-app-content-list li#demo-app-title:before {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-content-list li#demo-app-title:after {
  content: "";
  display: block;
  clear: both;
}
ul#demo-app-content-list li#demo-app-title .app-title-box {
  float: left;
  display: block;
  margin-left: 10px;
  text-align: left;
  position: relative;
  height: 240px;
  max-height: 240px;
  width: 50%;
}
ul#demo-app-content-list li#demo-app-title .app-title-box .button:nth-child(2) {
  margin-left: 10px;
}
ul#demo-app-content-list li#demo-app-title .app-title-box h2,
ul#demo-app-content-list li#demo-app-title .app-title-box h3,
ul#demo-app-content-list li#demo-app-title .app-title-box h4 {
  font-style: normal;
  margin-bottom: 10px;
}
ul#demo-app-content-list li#demo-app-title .app-title-box .app-button-panel {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
}
ul#demo-app-content-list li#demo-app-title .app-navigation {
  text-align: right;
  float: right;
}
ul#demo-app-content-list li#demo-app-title .app-navigation .button {
  min-width: 0;
  width: auto;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background: #4D4E53;
}
ul#demo-app-content-list li#demo-app-title .app-navigation .button:hover,
ul#demo-app-content-list li#demo-app-title .app-navigation .button:focus {
  background: #6A7B86 !important;
  background-color: #6A7B86 !important;
  box-shadow: none;
}
ul#demo-app-content-list li#app-images {
  width: 100%;
  overflow: hidden;
  text-align: left;
  position: relative;
  height: auto;
}
ul#demo-app-content-list li#app-images h3 {
  margin: 10px 0 10px 0;
}
ul#demo-app-content-list div#image-gallery {
  max-height: 500px;
  height: 500px;
  overflow: hidden;
  float: left;
  white-space: nowrap;
}
ul#demo-app-content-list div#image-gallery img {
  cursor: pointer;
  display: inline-block;
  text-align: left;
  float: left;
  height: auto;
  width: 310px;
  z-index: 1;
}
ul#demo-app-content-list div#image-gallery img:not(:first-child) {
  margin-left: 10px;
}
ul#demo-app-content-list li#app-description,
ul#demo-app-content-list li#app-comment,
ul#demo-app-content-list li#app-other {
  text-align: left;
}
ul#demo-app-content-list li#app-description h3,
ul#demo-app-content-list li#app-comment h3,
ul#demo-app-content-list li#app-other h3 {
  font-style: normal;
  margin: 10px 0 10px 0;
}
ul#demo-app-content-list li#app-other ul li {
  border: none;
  display: inline-block;
  width: 240px;
  height: 240px;
  padding: 5px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #888888;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  overflow: hidden;
  text-align: left;
}
ul#demo-app-content-list li#app-other ul li:not(:first-child) {
  margin-left: 10px;
}
ul#demo-app-content-list li#app-other ul li a.img-wrapper {
  width: auto;
  height: 180px;
  display: block;
  overflow: hidden;
}
ul#demo-app-content-list li#app-other ul li img {
  width: 240px;
  height: auto;
}
ul#demo-app-content-list li#app-other ul li h5 {
  padding: 0.3em;
}
ul#demo-app-content-list li#app-other ul li .small-app-decription {
  width: 100%;
}
ul#demo-app-content-list li#app-other ul li .small-app-decription .app-group {
  padding: 0.3em;
  float: left;
}
ul#demo-app-content-list li#app-other ul li .small-app-decription .vote-num {
  padding: 0.3em;
  float: right;
}
