@import "../ffcstyle";

#wrapper{
  background: url(/static/images/css/bg_sand_gradient.png) left top repeat-x, url(/static/images/css/bg_sand.png) left top repeat;
  padding-bottom:50px;
}

#main-content {
  background: transparent;
}
