{% extends "base.html" %}

{% block title %}Mozilla Taiwan - 美商謀智台灣分公司， Firefox 活力軍宣傳品申請成功！{% endblock %}

{% block base_css %}
  {{ css('base') }}
  {{ css('product') }}
  {{ css('order.complete') }}
{% endblock %}

{% block banner %}
  <hgroup id="main-feature" class="default orderComplete">
    <h1>Firefox 活力軍宣傳品申請成功！</h1>

    <h2>恭喜你成為 Firefox 活力軍！</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="loveCircle"></div>
  <div class="completeMessage">
    <p>
      你的申請流程已經完成，恭喜你成為 Firefox 活力軍！<br>
      你的申請將於審核通過後寄出<br>
      歡迎你將推廣的成果與照片上傳至<a href="{{ url('event.wall') }}">活力軍成果展</a><br>
  </div>
  <div class="socialMedia">
    <p>
      <b>歡迎加入Mozilla與我們互動：</b>
    <ul id="social">
      <li>
        <a target="_blank" href="https://www.facebook.com/MozillaTaiwan" id="fb">Fb 粉絲團</a>
      </li>
      <li>
        <a target="_blank" href="https://plus.google.com/u/0/114653167240123163859/posts" id="gp">G+</a>
      </li>
      <li>
        <a target="_blank" href="http://plurk.com/MozillaTaiwan" id="pk">Plurk</a>
      </li>
      <li>
        <a target="_blank" href="http://www.youtube.com/user/MozillaTaiwan" id="yb">Youtube</a>
      </li>
      <li>
        <a target="_blank" href="http://www.flickr.com/photos/mozillataiwan/" id="fc">Flickr</a>
      </li>
    </ul>

    <ul id="owned">
      <li>
        <a target="_blank" href="http://mozilla.com.tw/join_us/">電子報</a>
      </li>
      <li>
        <a target="_blank" href="http://blog.mozilla.com.tw/main">部落格</a>
      </li>
      <li>
        <a target="_blank" href="http://tech.mozilla.com.tw/">謀智台客</a>
      </li>
    </ul>
  </div>
  <div class="walk"></div>
{% endblock %}

{{ js('product') }}
