<html>
<head></head>
<body>
<ul class="productPhotos">
  {% for photo in photos %}
      <li class="productPhoto">
          <a class="productPhotoLink" href="/static/{{ photo.image_large }}" title="{{ photo.description }}">
              <img data-full-width="{{ photo.image_large_width }}" data-full-height="{{ photo.image_large_height }}"
                   width="{{ photo.image_medium_width }}" height="{{ photo.image_medium_height }}"
                   src="/static/{{ photo.image_medium }}"
                   alt="{{ photo.description }}" title="{{ photo.description }}"/>
          </a>
          <p>{{ photo.description }}</p>
      </li>
  {% endfor %}
</ul>
</body>
</html>
