{% if productKeywords %}
  {% set page_keywords = productKeywords %}
{% endif %}
{% set page_image = product.photos.get(usage='preview').image_medium.name %}
{% set page_title = product.title %}
{% set page_description = product.description %}
{% extends "base.html" %}

{% block title %}Mozilla Taiwan - 美商謀智台灣分公司，Firefox 活力軍宣傳品 - {{ product.title }}{% endblock %}

{% block base_css %}
  {{ css('base') }}
  {{ css('product_photos') }}
{% endblock %}
{% block banner %}
  <hgroup id="main-feature" class="default intro">
    <h1>Firefox 活力軍宣傳品</h1>

    <h2>{{ product.title }}</h2>
  </hgroup>
{% endblock %}
{% block content %}
  <h3>{{ product.title }}</h3>
  <p>
  <h4>{{ product.description }}</h4>
  <ul class="productPhotos">
    {% for photo in photos %}
      <li class="productPhoto">
        <a class="productPhotoLink" href="{{ STATIC_URL }}{{ photo.image_large.name }}" title="{{ photo.description }}">
          <img width="{{ photo.image_large_width }}" height="{{ photo.image_large_height }}"
               src="{{ STATIC_URL }}{{ photo.image_large.name }}"
               alt="{{ photo.description }}" title="{{ photo.description }}"/>
        </a>

        <p>{{ photo.description }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
