{% extends "base.html" %}

{% block base_css %}
  {{ css('product') }}
{% endblock %}

{% block banner %}
<hgroup id="main-feature" class="default order">
    <h1>歡迎加入 Firefox 活力軍</h1>
    <h2>Welcom to you</h2>
</hgroup>
{% endblock %}

{% block content %}
  <h1>申請 Firefox 活力宣傳品</h1>

  <p>
    只要你/妳願意舉辦任何與 Firefox 相關的推廣活動，
    或協助在自己的學校、社區、公司、健身房、圖書館… 等公共空間幫忙置放 Firefox 活力宣傳品，
    我們都十分歡迎並將全力協助。你/妳能做的事情包括：貼海報、發明信片、或是將 Firefox 的 Logo 貼紙貼滿佈告欄 。
  </p>

  {% if request.user.is_active %}
    <form method="post" action="">
    {{ csrf() }}
    {{ order_detail_formset.management_form }}
  {% endif %}

<p><b>選擇您需要的活力宣傳品:</b></p>
<ul class="products">
  {% if order_detail_formset|length == 0 %}
    <p>目前没有任何宣傳品</p>
  {% else %}
    {% for order_detail_form in order_detail_formset %}
      <li class="product">
        {% if order_detail_form.initial.product.photos.filter(usage='preview').exists() %}
          <a class="productPhotosLink" href="{{ url('product.photos', product_id=order_detail_form.initial.product.id) }}">
            <img src="/static/{{ order_detail_form.initial.product.photos.get(usage='preview') }}" alt=""/>
          </a>
        {% endif %}
        {% if request.user.is_active %}
          {{ order_detail_form.quantity }}
          {{ order_detail_form.product.as_hidden() }}
        {% endif %}

        <h3>{{ order_detail_form.initial.product.title }}</h3>

        <p>{{ order_detail_form.initial.product.description }}</p>
      </li>
    {% endfor %}
  {% endif %}
</ul>
（申請項目將不定期更新，請時常回來看看）

{% if request.user.is_active %}

  您的宣傳活動名稱:<br>

  {{ event_form }}

  預計推廣對象 以及 將如何使用 Firefox 活力宣傳物:

  申請審核通過後，我們會將宣傳品寄送給您，請確認以下收件人:

  {{ order_form }}
  <input type="submit" value="送件申請">
  </form>
{% else %}
  <p><a id="browserid" href="#">{{ _('Log in with BrowserID') }}</a></p>
  <form method="POST" action="{{ url('browserid_verify') }}">
    {{ csrf() }}
    {{ browserid_form.as_p() }}
    <input type="hidden" name="next" value="{{ url('product.wall') }}">
  </form>
{% endif %}

{% endblock %}

{% block base_js %}
  {{ js('product') }}
  {% if not request.user.is_active %}
    {{ browserid_form.media }}
  {% endif %}
{% endblock %}
