{% extends "base.html" %}
{% block title %}申請 Firefox 活力軍宣傳品 - Mozilla Taiwan - 美商謀智台灣分公司{% endblock %}

{% block base_css %}
  {{ css('product') }}
{% endblock %}

{% block banner %}
  <hgroup id="main-feature" class="default order">
    <h1>Firefox 活力宣傳品</h1>

    <h2>歡迎有熱情的你來申請</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="loveCircle"></div>
  <div class="orderDescription">
    <h3>申請 Firefox 活力宣傳品</h3>

    <p>
      只要你願意舉辦任何與 Firefox 相關的推廣活動，
      或協助在自己的學校、社區、公司、健身房、圖書館… 等公共空間幫忙置放 Firefox 活力宣傳品，
      我們都十分歡迎並將全力協助。你能做的事情包括：貼海報、發明信片、或是將 Firefox 的 Logo 貼紙貼滿佈告欄 。
    </p>
  </div>
  <div class="orderForm">

    {% if request.user.is_active %}
      <form method="post">
      {{ csrf() }}
      {{ order_detail_formset.management_form }}
      {{ order_detail_formset.non_form_errors() }}
    {% endif %}

    <ul class="products">
      <li class="product productHead">
        {% if request.user.is_active %}
          <h3>選擇你需要的活力宣傳品:</h3>
        {% else %}
          <h3>活力宣傳品介紹:</h3>
        {% endif %}
      </li>
      {% if order_detail_formset|length == 0 %}
        <li class="product productHead">
          <p>目前没有任何宣傳品</p>
        </li>
      {% else %}
        {% for order_detail_form in order_detail_formset %}
          <li class="product">
            {% if order_detail_form.initial.product.preview_image_name %}
              <div class="productPreview">
                <a class="productPhotosLink"
                   href="{{ url('product.photos', product_id=order_detail_form.initial.product.id) }}">
                  <img src="{{ STATIC_URL }}{{ order_detail_form.initial.product.preview_image_name }}"
                       alt=""/>
                </a>
              </div>
            {% endif %}

            <div class="productDescription">
              <h4>{{ order_detail_form.initial.product.title }}</h4>

              <p>{{ order_detail_form.initial.product.description }}</p>
            </div>
            {% if request.user.is_active %}
              <div class="productQuantity">
                {{ order_detail_form.quantity }}
                {{ order_detail_form.product.as_hidden() }}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <div class="productPostscript">
      <p>
        （申請項目將不定期更新，請時常回來看看）
      </p>
    </div>

    {% if request.user.is_active %}

      <div class="orderProductForm">
        <ul>
          {{ event_form.as_ul() }}
          {{ order_form.as_ul() }}
        </ul>
      </div>
      <div class="orderProductButton">
        <div class="agreement">
          <p>
            若繼續，代表你接受 Firefox 的
            <a href="{{ url('tos') }}" target="_blank">使用條款</a> 與
            <a href="http://www.mozilla.org/en-US/privacy-policy.html" target="_blank">隱私權保護政策</a>。
        </div>
        <div class="orderButton">
          <button class="submitButton" type="submit" value="1">送件申請</button>
        </div>
      </div>
      </form>
    {% else %}
      <div class="orderButton">
        <button class="loginButton">申請宣傳品請先登入</button>
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block base_js %}
  {{ js('product') }}
{% endblock %}
