Django==1.5
Jinja2==2.5.5
MySQL-python==1.2.3c1
PIL==1.1.7
argparse==1.2.1
bleach==1.2.1
commonware==0.4.2
django-mobility==0.1
django-multidb-router==0.5
django-session-csrf==0.5
django-sha2==0.4
funfactory==2.2.0
html5lib==0.95
py-bcrypt==0.2
wsgiref==0.1.2
xlrd==0.9.1
xlutils==1.6.0
xlwt==0.7.5
