{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls admin_static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/admin/activity_forms.less.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a>
&rsaquo; 頒獎
</div>
{% endblock %}

{% block content %}
    <p>頒發獎項給 {{ object_name }} "{{ object.title|escape }}" 的參與者</p>
    <form action="" method="post">{% csrf_token %}
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="頒獎" />
    <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}" class="button">回到活動編輯頁</a>
    </form>
{% endblock %}
