{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls admin_static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/admin/activity_forms.less.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; 頒獎
  </div>
{% endblock %}

{% block content %}
  <p>頒發獎項給 {{ object_name }} "{{ object.title|escape }}" 的參與者</p>
  <form id="activity_award_form" action="" method="post">{% csrf_token %}
    <ul>
      <li>
        <label for="award_name">獎項名稱：</label>
        <select id="award_name" name="award_name">
          <option value="最高人氣獎">最高人氣獎</option>
          <option value="投票幸運獎">投票幸運獎</option>
        </select>
      </li>
      {% comment %}
        <li>
          <label for="award_name">獎項名稱：</label>
          <input type="text" id="award_name" name="award_name" placeholder="如：最高人氣獎" required/>
        </li>
        <li>
          <label for="awarded_role">得獎角色：</label>
          <select id="awarded_role" name="awarded_role">
            <option value="participant">報名者</option>
            <option value="voter">投票者</option>
            <option value="uploader">上傳者</option>
          </select>
        </li>
      {% endcomment %}
      <li>
        <label for="awarded_role">得獎人數：</label>
        <input type="number" min="1" max="100" size="3" value="1" id="winner_amount" name="winner_amount" required/>
      </li>
      {% comment %}
        <li>
          <label for="award_type">頒獎方式：</label>
          <select id="award_type" name="award_type">
            <option value="random">隨機</option>
            <option value="votes">上傳得票數</option>
          </select>
        </li>
      {% endcomment %}
      <li>
        <label>重覆處理：</label>
        <input type="radio" id="repeat-no" name="repeat" value="no" checked/>
        <label class="radioLabel" for="repeat-no">避開</label>
        <input type="radio" id="repeat-yes" name="repeat" value="yes"/>
        <label class="radioLabel" for="repeat-yes">不避開</label>
      </li>
      <li>
        <label>重新頒獎：</label>
        <input type="radio" id="reaward-yes" name="reaward" value="yes" checked/>
        <label class="radioLabel" for="reaward-yes">重頒</label>
        <input type="radio" id="reaward-no" name="reaward" value="no"/>
        <label class="radioLabel" for="reaward-no">加頒</label>
      </li>
      <li>
        <input type="hidden" name="post" value="yes"/>
        <input type="submit" value="頒獎"/>
        <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}" class="button">回到活動編輯頁</a>
      </li>
    </ul>
  </form>
  <h2>活動得獎名單</h2>
  {% for award_name, awarded_list in awards.items %}
    <h3>{{ award_name }}</h3>
    <table>
      {% for awarded in awarded_list %}
      <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ awarded.order }}</td>
          {% if awarded.winner.person %}
          <td>{{ awarded.winner.person.fullname }} ({{ awarded.winner.person.nickname }})</td>
          {% else %}
          <td>{{ awarded.winner.last_name }} {{ awarded.winner.first_name }}</td>
          {% endif %}
          <td>{{ awarded.winner.email }}</td>
          <td>{{ awarded.winner.person.phone }}</td>
          <td>{{ awarded.winner.person.address }}</td>
          <td>{{ awarded.status }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endfor %}
  <h2>活動參與名單</h2>
  <h3>活動報名者</h3>
  <table>
    {% if participants|length > 0 %}
      {% for participant in participants %}
        <tr class="{% cycle 'odd' 'even' %}">
          {% if participant.person %}
          <td>{{ participant.person.fullname }}</td>
          {% else %}
          <td>{{ participant.last_name }} {{ participant.first_name }}</td>
          {% endif %}
          <td>{{ participant.email }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>無</td>
      </tr>
    {% endif %}
  </table>
  <h3>活動投票者</h3>
  <table>
    {% if voters|length > 0 %}
      {% for voter in voters %}
        <tr class="{% cycle 'odd' 'even' %}">
          {% if voter.person %}
          <td>{{ voter.person.fullname }}</td>
          {% else %}
          <td>{{ voter.last_name }} {{ voter.first_name }}</td>
          {% endif %}
          <td>{{ voter.email }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>無</td>
      </tr>
    {% endif %}
  </table>
  <h3>活動上傳者</h3>
  <table>
    {% if uploaders|length > 0 %}
      {% for uploader in uploaders %}
        <tr class="{% cycle 'odd' 'even' %}">
          {% if uploader.person %}
          <td>{{ uploader.person.fullname }}</td>
          {% else %}
          <td>{{ uploader.last_name }} {{ uploader.first_name }}</td>
          {% endif %}
          <td>{{ uploader.email }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>無</td>
      </tr>
    {% endif %}
  </table>
{% endblock %}
