@charset "utf-8";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("http://www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("http://www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("http://www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/img/fonts/OpenSans-Light-webfont.woff") format("woff"), url("//www.mozilla.org/img/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("//www.mozilla.org/img/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}
@body_size:13px;
@body_color:#4d4d4f;
@h_color:#484848;
@body_family:"Open Sans", Arial, Helvetica, "Microsoft JhengHei","Apple LiGothic Medium",sans-serif;
@h_family:"Open Sans", Arial, Helvetica, "Microsoft JhengHei","Apple LiGothic Medium",sans-serif;
*{
  font-family:@body_family;
  margin:0;
  padding:0;
  letter-spacing:0.12em;
}

p{
  font-size:13px;
  color:#787878;
  text-shadow: 1px 1px #fff;
}

a, a:hover, a:link, a:visited{
  outline: 0px;
  font-size:12px;
  color:#fff;
  text-decoration:none;
  text-shadow: 1px 1px #fff;
}
a:hover{
  text-decoration: underline;
}

ul, ol {
	margin: 0px;
	padding: 0px;
	list-style:none;
	li {
    list-style: none;
    background: none;
  }
}

h1, h2, h3, h4, h5, h6 {
	font-family: @h_family;
	font-weight: normal;
	font-style: italic;
	color: @h_color;
	text-shadow: 1px 1px #fff;
}

input, select, textarea {
  display: block;
}

.rounded_corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.after_close () {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.transition_block (@duration:1s, @time:ease-in-out, @property:'all') {
  transition:@duration @time;
  -webkit-transition:@duration @time;
  -moz-transition:@duration @time;
  -o-transition:@duration @time;
  -ms-transition:@duration @time;
  
  transition-property: @property;
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -o-transition-property: @property;
  -ms-transition-property: @property;
}
.BoxShadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

body{
  background:#fff;
}
#tabzilla-panel{
  overflow:hidden;
  width:100%;
  padding:2px 0 0 0;
  height:180px;
  .transition_block (0.2s, ease-in-out, height);
  &.close-nav{
    height:2px;
  }
  #tabzilla-contents{
    width:980px;
    margin:0 auto;
    &:after{
      .after_close;
    }

    #tabzilla-promo {
      float: left;
      display: inline;
      margin: 10px 10px;
      background: none repeat scroll 0% 0% rgb(248, 248, 248);
      position: relative;
      font-size: 13px;
      line-height: 1.5;
      background:#fff;
      div#promo-block{
        a{
          width:200px;
          height:154px;
          display:block;
          h4, p{
            text-indent:-99999px;
          }
        }
        &.promo-android-ff{
          a{
            background:url(http://mozilla.com.tw/assets/pic/FirefoxforAndroid.png);
          }
        }/* end of promo-android-ff*/
      }/* end of promo-block */
    }/* end of tabzilla-promo */

    #tabzilla-nav{
      float:left;
      ul{
        margin: 0px;
        padding: 0px;
        li.sitemap{
          width:160px;
          margin:20px 0 0 20px;
          float:left;
          border-right:1px dotted #eee;
        }
        li.last{
          border:0px;
        }
        li.sitemap > a{
          font-weight:bold;
        }
        &:after{
          .after_close;
        };
      }/* end of ul */
      
    }/*end of tabzilla-nav */

  } /*end of #tabzilla-contents*/
  //http://mozilla.com.tw/assets/pic/FirefoxforAndroid.png

  a{
    color:#000;
  }
}/*end of #tabzilla-panel */

#outer-wrapper{
  width:100%;
  background:#fff;
}
#wrapper{
  background:url(/static/images/css/bg-sand.png) left top repeat;
  padding-bottom:50px;
}
#masthead{
  width:800px;
  margin:0 auto;
  &:after{
    .after_close;
  };
  h1{
    width:185px;
    background:url(/static/images/css/logo.png) left top no-repeat;
    margin:30px 0 0 0;
    padding:0px;
    float:left;
    a{
      width:185px;
      height:73px;
      display:block;
      text-indent:-99999px;
    }
  }
  a#tabzilla{
    position: relative;
    float:right;
    display: block;
    height:45px;
    width: 150px;
    background: url('/static/images/css/tab.png') no-repeat;
    text-indent: -200px;
    overflow: hidden;
    &[aria-expanded=flase]{
      background-position:100% 0;
    }
    &[aria-expanded=true]{
      background-position:100% -45px;
    }
  }
}

#main-feature{
  margin:0px auto;
  h1, h2, p{
    text-indent:-99999px;
  }
  &.huge{
    width:100%;
    height:370px;
  }
  &.meduim{
    height:275px;
  }
  &.intro{
    background: url('/static/images/css/banner_intro_2.jpg') top center no-repeat;
  }
}

#main-content{
  color: #000;
  margin:0 auto 40px auto;
  p, b, ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    color: blue;
  }
  ul li, ol li {
    font-size: @body_size;
    list-style-type: disc;
    margin-left: 20px;
  }
}

#footer{
  width:100%;
  background:#fff;
  padding:30px 0;
  a{
    color:#000;
  }
  #footer-wrapper{
    width:1000px;
    margin:0 auto;
    &:after{
      .after_close; 
    }
    #footer-logo, #copyright, #sub-footer{
      float:left;
    }
    #footer-logo{
      a{
        margin-top:20px;
        text-indent:-99999px;
        width:95px;
        height:30px;
        display:block;
        background: url('/static/images/css/footer-mozilla.png') top center no-repeat;
      }
    }/* end of footer-logo */

    #sub-footer{
      width:240px;
      margin:0 80px;
      ul{
        li{
          width:80px;
          float:left;
        }
        &:after{
          .after_close;
        }  
      }
    }/* end of sub-footer */

    #copyright{
      margin:0px;
      ul{
        li{
          display:inline-block;
          float:left;
        }
        &:after{
          .after_close;
        }  
      }
    }/* end of copyright */  
  }/* end of footer-wrapper */

}

span.toggle {
  display: block;
  width: 0px;
  height: 0px;
  margin: 0px 0px 0px 10px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABp0lEQVRYw92XzWrCQBSFM1Ei3QgqFkEiJtGiKxeC1dIHKIU+baH0AUppl7qJEEgg4KaSLArF5sek91IqY8eFRmesHbgwkMU5uffMlwlJ01Q65pKlI6/8z0bTtMdyuXydy+W4tmS5XBLf958cx7lZM9BoNEadTudDhIHpdDpiOlAsFpNKpRITQri2HDOHWowBWZZTLN4zxxekdfK0OXgo6kiwBmA2UpIkkogMoBZjAMRNy7IuFEXhaiAMQ4Jaq5FQILqEOhc0gjeo198GdlrtdjvzKcBR27bNhHCnFQTBYUloGMYDcOBq2xDW6/XMIfQ87xm2t2sGms3moNvtvkMIE84hlE3THGwiYVyr1QIRJJzNZgpjAFvPmwG0FmMAKQiViDBAE3dlIIoiYSRELcZAHMcWhEMTEULUOn0SwuVlLxLCd2c/Ei4Wi8OSsNVq3Ver1eG2IVRVNXMI5/P5C2zv1gzout7v9XqeiM/xeDzuMx0olUoR8P1TBAld1z37e3fC9Ps4CEFxSh09GkREFAlRa5MBezKZqIVCgasBuMigAfv0Sfhv/o6/AC/F7VMhvnFfAAAAAElFTkSuQmCC") no-repeat scroll center center transparent;
  text-indent: -999em;
  overflow: hidden;
  cursor: pointer;
}

/* hide back of pane during swap */
.backfacehide () {
  transform-style: preserve-3d;
  -moz-transform-style:preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  top:0px;
  left:0px;
}

/* front pane, placed above back */
.front () {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg); /** Chrome & Safari **/
  -o-transform:  rotateX(0deg) rotateY(0deg); /** Opera **/
  -moz-transform: rotateX(0deg) rotateY(0deg); /** Firefox **/
}

/* back, initially hidden pane */
.back (){
  transform: rotateX(0deg) rotateY(-180deg);
  -webkit-transform: rotateX(0deg) rotateY(-180deg); /** Chrome & Safari **/
  -o-transform: rotateX(0deg) rotateY(-180deg); /** Opera **/
  -moz-transform: rotateX(0deg) rotateY(-180deg); /** Firefox **/
}
/*mobile css*/
@media only screen and (max-width: 600px){
  body{
    width:100%;
    height:480px;
    overflow:hidden;
  }
  #body_wrapper{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    &.opennav{
      width:100%;
      #tabzilla-panel.close-nav{
        height:100%;
        overflow-x:hidden;
        overflow-y:auto;
        .front;
      }
       #outer-wrapper{
        //.back;  
        transform: translate(80%,0);
        -webkit-transform: translate(80%,0); /** Chrome & Safari **/
        -o-transform: translate(80%,0); /** Opera **/
        -moz-transform: translate(80%,0); /** Firefox **/
      }
    }/* end of opennav */
  }
  
  #outer-wrapper{
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    position:absolute;
    .transition_block (0.8s, ease-in-out, transform);
    .backfacehide;
  }
  
  #tabzilla-panel.close-nav{
    position:absolute;
    top:0px;
    left:0px;
    .transition_block (0.8s, ease-in-out, transform);
    width:320px;
    margin:10px auto;
    height:500px;
    overflow-y:auto;
    .backfacehide;
    .back;
  
    #tabzilla-contents{
      width:220px;
      margin:10px auto;
      #tabzilla-nav{
        margin-left:10px;
      
        ul{
          width:200px;
          text-align:center;
          a{
            font-size:16px;
          }
          li.sitemap{
            width:100%;
            margin:0px;
            padding:0px;
            border:0px;
            > a{
              display:block;
              background: #efefef;
              padding:5px;
            }
            > a:hover{
              background: #cccccc;
            }
            ul li{
              border:1px solid #efefef;
              padding:5px;
              &:hover{
                background: #cccccc;
                border:1px solid #cccccc;
              }
            }
          }
        }
      }/* end of tabzilla-nav */
    }/* end of tabzilla-contents */
  }/* end of tabzilla-panel */
  
  #masthead{
    width:100%;
    min-width:200px;
    h1{
      margin:0px auto;
      float:none;
      
    }
    a#tabzilla{
      display:none;
    }
  }/* end of masthead */

  #main-feature{
    &.huge{
      width:100%;
      height:118px;
    }
    &.intro{
      background: url('/static/images/css/mobile/banner_1.jpg') top center no-repeat;
    }
  }/* end of main-feature */
  
  #footer {
    padding:0px;
    #footer-wrapper{
      width:300px;
      margin:0px auto;

      #footer-logo{
        display:none;
      }
      #sub-footer{
        margin:0px auto;
      }
      #copyright{
        margin:10px auto;
        ul {
          margin:0 0 10px 0;
          li{
            width:110px;
          }
        }
      }
    }/* end of footer-wrapper */
  }/* end of footer */

  #main-content{
    width:100%;
    min-height:200px;
  }

  span.toggle {
    width:32px;
    height:32px;
  }
}
