@import "ffcstyle";

ul.carousel {
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
  display: block;
}

ul.carousel > li{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*	-webkit-transition: -webkit-transform 1s ease-in-out;*/
}

li.bannerWelcome {
  background: url('/static/images/css/intro_banner_welcome.jpg') top center no-repeat;
}
li.bannerFree {
  background: url('/static/images/css/intro_banner_free.jpg') top center no-repeat;
}
li.bannerSupport {
  background: url('/static/images/css/intro_banner_support.jpg') top center no-repeat;
}
#main-feature {
  position: relative;
}

#main-feature > hgroup {
//  display: none;
  position: absolute;
  bottom: 40px;
  z-index: 100;
  width: 100%;
  text-align: center;
}
#main-feature > hgroup > h3 {
  color: #ffffff;
  text-shadow: none;
  font-size: 30px;
  text-indent: 360px;
}

#main-content{
  width: 600px;
}

#intro-login {
  position: relative;
  height: 58px;
  margin-top: -29px;
  margin-bottom: 20px;
  background: #fff;
}
#intro-login > div {
  color: @body_color;
  float: left;
  height: 100%;
  line-height: 100%;
  font-size: 11px;
  margin: 10px;
}
#intro-content {
  position: relative;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

#intro-content .introHeading {
  text-align: left;
  padding-left: 55px;
  margin-bottom: 20px;
}
#intro-content .introRules {
  padding-left: 55px;
  padding-right: 55px;
}
div.introPicture {
  width: 600px;
  height: 110px;
  background-image: url(/static/images/css/intro_pic.png);
}

@media only screen and (max-width: 600px){
  #intro-login {
    margin-top:20px;
  }
  #main-content{
    width: 100%;
  }
}

