#main-content {
  width: 600px;
}
#intro-login {
  height: 58px;
  margin-top: -29px;
  margin-bottom: 20px;
  background: #fff;
}
#intro-content {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 55px;
  padding-right: 55px;
}
