@import "ffcstyle";
#main-content{
  width: 800px;
  height: auto;
  background-color: #fff;
  text-align: center;
}

#main-content ul.productPhotos {
  margin-top: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}
#main-content ul li.productPhoto {
  list-style: none;
}
#main-content ul li.productPhoto img {
  width: 700px;
  height: auto;
}