{% set page_title = '上傳屬於你的珍貴時刻' %}
{% extends "base.html" %}
{% block title %}上傳屬於你的珍貴時刻 - Mozilla Taiwan{% endblock %}
{% block base_css %}
  {{ css('base') }}
  {{ css('every-moment-upload') }}
{% endblock %}
{% block base_js %}
  {{ js('every-moment-upload') }}
{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
  <div class="entrance">
    <button id="upload" class="uploadButton">上傳</button>
    <button id="re-upload" class="uploadButton">重新上傳</button>
    <div id="preview">
      <div id="container">
        <div id="dragger">
        </div>
      </div>
    </div>
    <form class="details" enctype="multipart/form-data" method="post">
      {{ csrf() }}
      <ul>
        {{ uploadForm.as_ul() }}
        {{ personForm.as_ul() }}
        <li>
          <label for="shareOnFb">同步分享到 Facebook</label>
          <input id="shareOnFb" name="shareOnFb" type="checkbox"/>
          <input id="fbToken" name="fbToken" type="hidden"/>
        </li>
        <li>
          <input type="hidden" id="dragLeft" name="dragLeft"/>
          <input type="hidden" id="dragTop" name="dragTop"/>
          <input type="hidden" id="frameWidth" name="frameWidth"/>
          <input type="hidden" id="frameHeight" name="frameHeight"/>
          <button class="submitButton" type="submit" value="1">確認上傳</button>
        </li>
      </ul>
    </form>
  </div>
{% endblock %}
