{% set page_title = 'Firefox OS 讓你盡情享受每一刻' %}
{% extends "base.html" %}
{% block title %}Firefox OS 讓你盡情享受每一刻 - Mozilla Taiwan{% endblock %}
{% block base_css %}
  {{ css('base') }}
  {{ css('every-moment-wall') }}
{% endblock %}
{% block base_js %}
  {{ js('every-moment-wall') }}
{% endblock %}
{% block head %}
  <div id="header-bar">
    <div class="header-content">
      <div class="fxos-logo"></div>
      <div class="every-moment"></div>
    </div>
  </div>
{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
  <div class="eventWall">
    {% if event_photos|length == 0 %}
      <div class="eventPhotos">
        <p>目前没有任何照片分享，成為第一個分享的人吧！</p>
      </div>
    {% else %}
      <ul class="eventPhotos">
        {% for event_photo in event_photos %}
          <li class="eventPhoto">
            <div class="photoFrame">
              <a class="eventPhotoLink"
                 href="{{ request.build_absolute_uri(url('campaign.photo', slug='every-moment', photo_id=event_photo.id)) }}"
                 title="{{ event_photo.description }}">
                <img data-full-width="600"
                     data-full-height="600"
                     data-large-src="{{ static(event_photo.get_share_path()) }}"
                     width="250" height="{{ event_photo.image_medium_height / event_photo.image_medium_width * 250 }}"
                     src="{{ static(event_photo.get_medium_path()) }}"
                     alt="{{ event_photo.description }}" title="{{ event_photo.description }}"/>
              </a>

              <div class="socialButtons">
                <div class="facebookLike">
                </div>
                <div class="googlePlus">
                </div>
                {% if request.user.is_active %}
                  <ul class="miscDropdown">
                    <li>
                      <a class="reportPhoto" href="{{ url('activity.photo.report', type='campaign', photo_id=event_photo.id) }}">檢舉</a>
                    </li>
                    {% if event_photo.create_user_id == request.user.id %}
                      <li>
                        <a class="removePhoto" href="{{ url('activity.photo.remove', type='campaign', photo_id=event_photo.id) }}">刪除</a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="photoDescription">
              <p>{{ event_photo.description }}</p>
            </div>
            <div class="photoInfo">
              <p>by <b>{{ event_photo.create_username }}</b>
            </div>
{#            <a class="shareButton" href="javascript:void(0);">#}
{#              <div class="shareText"></div>#}
{#            </a>#}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if event_photos|length > 0 %}
      <div id="page-nav">
        <a href="{{ url('campaign.every.moment.wall.page', page_number=2) }}"></a>
      </div>
    {% endif %}
  </div>
  <div id="fxos-phone-frame">
    <a class="bigShareButton" href="javascript:void(0);">
      <div class="bigShareText"></div>
    </a>
  </div>

{% endblock %}
{% block footer %}{% endblock %}
