{% extends "base.html" %}

{% block base_css %}
  {{ css('intro') }}
{% endblock %}

{% block banner %}
  <div id="main-feature" class="huge">
    <hgroup>
      <h1>歡迎加入 Firefox 活力軍</h1>

      <h2>Welcom to you</h2>

      <h3>歡迎加入活力軍</h3>
    </hgroup>
    <ul class="carousel">
      <li data-full-width="2000" data-full-height="370" class="bannerWelcome">
        <a href="javascript:void(0)">
          <img alt="Welcome!" title="Welcome!" width="2000" height="370"
               src="{{ STATIC_URL }}images/css/intro_banner_welcome.jpg">
        </a>
      </li>
      <li data-full-width="2000" data-full-height="370" class="bannerFree">
        <a href="javascript:void(0)">
          <img alt="Free, Open, Internet" title="Free, Open, Internet" width="2000" height="370"
               src="{{ STATIC_URL }}images/css/intro_banner_free.jpg">
        </a>
      </li>
      <li data-full-width="2000" data-full-height="370" class="bannerSupport">
        <a href="javascript:void(0)">
          <img alt="Support the Open Web" title="Support the Open Web" width="2000" height="370"
               src="{{ STATIC_URL }}images/css/intro_banner_support.jpg">
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% if not request.user.is_active %}
    <div id="intro-login">
      <div>
        <button class="browserid loginButton">使用 Persona 帳號登入</button>
      </div>
      <div class="loginInfo">
        你會經由 Persona 網路身份識別系統登入帳號，請安心登入。
        <p>
          <a href="https://login.persona.org/about" target="_blank">認識 Persona</a>
      </div>

      <form method="POST" action="{{ url('browserid_verify') }}">
        {{ csrf() }}
        {{ browserid_form.as_p() }}
      </form>
    </div>
  {% endif %}
  <div id="intro-content">

    <div class="introHeading">

      <h4>開放的信念，靠你我傳遞。現在就加入 Firefox 活力軍！</h4>
    </div>

    <div class="introPicture"></div>
    <div class="introRules">

      <p>
        推廣 Firefox 需要你我的大力參與！只要你熱愛 Firefox, 認同 Mozilla 推動網路自由、開放、創新的理念,
        並且是 Firefox 的愛用者, 請立即申請成為 Firefox 活力軍。

      <p>
        <b>如何在日常生活中體現推廣 Firefox 的樂趣？</b>

      <ul>
        <li>
          <p>
            跟朋友組成 Firefox 同好會
        </li>
        <li>
          <p>
            在社區、公司、教室、圖書館… 各公共空間置放 Firefox 宣傳品
        </li>
        <li>
          <p>
            在各地組織 Firefox 推廣活動
        </li>
        <li>
          <p>
            任何其他你想得到的合法推廣方式
        </li>
      </ul>
      <p>
        <b>申請資格：</b>

      <ul>
        <li>
          <p>
            熱愛 Firefox 且充滿熱忱
        </li>
      </ul>
      <p>
        <b>宣傳品寄送範圍：</b>
        <ul>
          <li>
            <p>
              目前僅提供台灣本島及外島寄送服務，國際郵件暫不受理。
          </li>
        </ul>

      <p>
        <b>活動辦法：</b>
      <ol>
        <li>
          <p>
            {% if not request.user.is_active %}
              <a class="browserid" href="javascript:void(0)">使用 Persona 登入</a>
            {% else %}
              使用 Persona 登入
            {% endif %}
          (<a href="https://login.persona.org/about">認識 Persona</a>)
        </li>
        <li>
          <p>
            填寫基本資料
        </li>
        <li>
          <p>
            申請活力宣傳品
        </li>
        <li>
          <p>
            將宣傳成果照片分享至成果展網頁
        </li>
      </ol>
      <br>
      <p>
        <a href="{{ url('product.wall') }}">申請宣傳品</a> | <a href="{{ url('event.wall') }}">活力軍成果展</a>
    </div>

  </div>
{% endblock %}
{% block base_js %}
  {{ js('intro') }}
  {% if not request.user.is_active %}
    {{ js('browserid') }}
    {#    {{ browserid_form.media }}#}
  {% endif %}
{% endblock %}

