{% set page_title = 'Firefox 元宵點燈' %}
{% set page_description = '在充滿活力朝氣的馬年，Mozilla 為了感謝使用者的支持，邀請您進一步用行動加入打造網路光明未來的行列。請依步驟點亮 Firefox 火狐燈籠，為新的一年衝個吉利好彩頭，迎向光明的前途，狐狐生風！' %}
{% set page_image = 'img/event/lantern-festival/firefox-lantern.png' %}
{% set share_text = page_title %}

{% extends "base.html" %}

{% block html_classes %}
  {{ (' lt-ie9' if LT_IE9 else '') +
        (' lt-ie10' if LT_IE10 else '') +
        (('status-'+ campaign.status) if campaign and campaign.status else '') }}
{% endblock %}

{% block canonical %}{{ request.build_absolute_uri(url('campaign.lantern.festival', '')) }}{% endblock %}

{% block base_css %}
  {{ css('base') }}
  {{ css('lantern-festival') }}
  {{ css('lantern-festival-print', 'print') }}
{% endblock %}
{% block base_js %}
  {{ js('lantern-festival') }}
{% endblock %}

{% block head %}
  <header id="masthead">
    <a title="打開" role="button" href="/" id="tabzilla">Mozilla</a>
<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
  <ul id="nav-main-menu" role="menubar">
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="Firefox 產品特色" href="http://mozilla.com.tw/firefox/features/" tabindex="0">Firefox 產品特色</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="加入 Mozilla 社群" href="http://mozilla.com.tw/community/" tabindex="0">加入 Mozilla 社群</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="認識 Mozilla" href="http://mozilla.com.tw/about/" tabindex="0">認識 Mozilla</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="下載 Firefox" href="http://mozilla.com.tw/firefox/download/" tabindex="0">下載 Firefox</a>
    </li>
  </ul>
</nav>
  </header>
{% endblock %}

{% block banner %}
  <div id="festival-banner">
  </div>
{% endblock %}

{% block content %}
  <div id="curtain">
    <div id="intro">
      <p>Mozilla 十五年來致力於開創網路的光明未來，在全球擁有數億名 Firefox 愛好者，並受到志工社群的認同，共同打造亮眼的開放網路！</p>

      <p>
        在充滿活力朝氣的馬年，Mozilla 為了感謝使用者的支持，邀請您進一步用行動加入打造網路光明未來的行列。
        請依步驟點亮 Firefox 火狐燈籠，為新的一年衝個吉利好彩頭，迎向光明的前途，狐狐生風！
      </p>
    </div>
    <div id="lanterns">
      <div id="heading">
        <h2>元宵點燈小遊戲</h2>
        {% if campaign.status == 'running' %}
          <span><br/>依序完成以下三步驟，即可免費領取限量火狐燈籠</span>
        {% else %}
          <span>火狐燈籠已發放完畢！<br>請依序完成以下三步驟，免費下載火狐燈籠檔案</span>
        {% endif %}
      </div>
    </div>
    <div id="mini-game">
      <div id="steps" class="step1">
        <div id="step-scroller">
          <div id="step1" class="step">
            <p><strong class="step-title">步驟一：</strong></p>

            <p>加入 Mozilla Taiwan 粉絲團，<br>讓你的社交生活充滿火狐的趣味</p>

            <div class="fb-like-box" data-href="http://www.facebook.com/MozillaTaiwan" data-height="80"
                 data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
                 data-show-border="true"></div>
            <p>若已按過讚，請按登入鈕進行驗證</p>
            <a id="login-fb" class="submitButton" data-next="2" href="javascript:void(0);">登入驗證</a>
          </div>
          <div id="step2" class="step">
            <p><strong class="step-title">步驟二：</strong></p>

            <p>訂閱 Firefox 電子報，無時無刻掌握網路世界的第一手資訊</p>
            <iframe id="subscription" border="0" width="100%" height="205"
                    src="https://mozilla.com.tw/newsletter/subscribe/embed/"></iframe>
          </div>
          <div id="step3" class="step">
            <p><strong class="step-title">步驟三：</strong></p>

            <p>分享 MyFirefox 文章，成為科技生活萬事通</p>
            <a target="_blank" class="myfx-post" href="http://myfirefox.com.tw/posts/20970/">
              <div class="myfx-content">
                <div class="myfx-title">隆重介紹 Mozilla Firefox Accounts</div>
                <div class="myfx-description">Mozilla 是受大家極度信賴的非營利組織，時時推動網路的開放、創新、機會並作為己身使命。我們不斷研發開放的技術，藉以推動所有人都能從中受益的標準，進而讓 Web 成為業界與開發者都適用的平台。我們專心研發有趣、豐富、新奇、強大的產品，讓大家都能簡單上手且愛不釋手，確實體現我們使命的價值。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(https://blog.mozilla.com.tw/wp-content/uploads/Delicious-600x319.png) center no-repeat; background-size: 100% auto;"></div>
            </a>
            <a target="_blank" class="myfx-post" href="http://myfirefox.com.tw/posts/20977/">
              <div class="myfx-content">
                <div class="myfx-title">更好的 Firefox Sync 同步功能</div>
                <div class="myfx-description">Mozilla 很高興能發表新版 Firefox Sync 同步功能，現已能於 Firefox 曙光版 (Aurora) 上進行測試。現有 Firefox Sync 使用者當然愛用這項服務，但也反應說相關設定仍稍嫌繁瑣，要新增其他裝置並不是很輕鬆；若要從遺失的裝置恢復設定資料更是困難。我們聽到了這些意見，也設計出更簡單的方式，期待能在 Firefox 桌面版與行動版之間安全同步資料。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(https://blog.mozilla.com.tw/wp-content/uploads/welcome-to-sync-1024x772.png) center no-repeat; background-size: 100% auto;"></div>
            </a>
            <a target="_blank" class="myfx-post" href="http://myfirefox.com.tw/posts/20203/">
              <div class="myfx-content">
                <div class="myfx-title">一起動手做吧！用迷你積木拼出一隻小火狐</div>
                <div class="myfx-description">難得破例不講技術，耶誕節快到了，應該要來點輕鬆的。 狐迷們，今天我們一起用積木來做一隻小火狐吧！首先要準備的積木材料如下圖： 底下開始詳細的圖文分解步驟，只要一步步照著做，很快就可以完成你的積木小火狐囉！ 1. 首先照上圖把小火狐的頭組裝起來，注意第四步最左邊的方塊底下要裝鼻子（如圖 3 ）， 所以不要讓底部的卡榫擋住中間，否則鼻子會裝不上去。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(https://tech.mozilla.com.tw/wp-content/uploads/2013/12/nanoblock-firefox-preview.jpg) center no-repeat; background-size: 100% auto;"></div>
            </a>
            <a id="share-myfx" class="submitButton" data-next="4" href="javascript:void(0);">分享文章</a>
          </div>
          <div id="step4" class="step">
            {% if campaign.status == 'running' %}
              <p>恭喜你點亮火狐元宵燈籠，<br/>並成為 Mozilla 捍衛網路自由的一份子！</p>
              <p>您的火狐燈籠免費序號：<span id="claim-code"></span></p>
              <a id="print-claim" class="submitButton" data-next="4" href="javascript:void(0);">友善列印</a>
              <p class="notice">提醒：<br/>火狐燈籠免費領取，開放時間為<br/> 2014/2/13~14 10am~17pm，<br/>地點為 <a target="_blank" href="http://mozilla.com.tw/about/contact/#address">Mozilla Taiwan 辦公室</a>，數量有限，請把握機會。</p>
            {% else %}
              <p>恭喜你點亮火狐元宵燈籠，並成為 Mozilla 捍衛網路自由的一份子！</p>
              <p>目前火狐燈籠已全數發放完畢，請下載火狐燈籠檔案列印製作</p>
              <a id="download-lantern" class="submitButton" target="_blank" download="firefox-lantern.jpg" href="{{ static('img/event/lantern-festival/firefox-lantern.jpg') }}">下載燈籠 DIY</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="fox-lantern">
        <a class="button download-button" target="_blank" download="firefox-lantern.jpg" href="{{ static('img/event/lantern-festival/firefox-lantern.jpg') }}">下載燈籠 DIY</a>
        <a class="button share-button" href="javascript:void(0);">分享</a>
      </div>
      <div id="lead">
        <div id="sparkle">
        </div>
      </div>
    </div>
  </div>
  <div id="popup">
    <img id="fox-lantern-large" src="/static/img/event/lantern-festival/firefox-lantern.png"/>
    <a class="button download-button" target="_blank" download="firefox-lantern.jpg" href="{{ static('img/event/lantern-festival/firefox-lantern.jpg') }}">下載燈籠 DIY</a>
    <a class="button share-button" href="javascript:void(0);">分享</a>
  </div>
{% endblock %}
