<div id="about" class="intro-content">
	<h2 class="entry-title">活動介紹</h2>
	<p>有滿腦子的&nbsp;APP&nbsp;創意需要實現嗎？Firefox&nbsp;OS&nbsp;APP&nbsp;競賽提供全新&nbsp;APP&nbsp;藍海戰場，是你大展身手的最佳機會！Firefox OS自推出以來，於開發者之間蔚為一股新浪潮，而&nbsp;Firefox&nbsp;Marketplace&nbsp;更是有心擴大&nbsp;APP&nbsp;創業者的版圖。Firefox&nbsp;OS&nbsp;完全以&nbsp;HTML5&nbsp;技術打造，以&nbsp;JavaScript、CSS 等技術搭配全新&nbsp;WebAPI，讓&nbsp;HTML5&nbsp;的&nbsp;應用程式擁有更多可能性。Firefox OS&nbsp;為行動&nbsp;APP&nbsp;開發者開拓一個全新的戰場，而擅長&nbsp;HTML5&nbsp;的網站開發者也找到快速切入跨平台&nbsp;APP&nbsp;市場的方式。
	</p>
	<p>
		竭誠歡迎熱愛開放&nbsp;Web&nbsp;的&nbsp;Firefox校園大使們，一同落實&nbsp;APP&nbsp;夢，在學生時代，找到一片寬廣的藍海。請大家踴躍參加！&nbsp;2013 年一場您絕不能錯過的校園大使&nbsp;APP&nbsp;創意競賽，現正隆重登場！
	</p>
</div>