{% extends "base.html" %}
{% set page_title = 'Firefox OS APP 校園創意競賽成果展示 - Mozilla Taiwan' %}
{% set page_description = 'Firefox OS 的出現，給予有心開發行動 App 的 Apper (應用程式開發者) 一片無人踏入的新藍海外。由 Mozilla Taiwan 主辦的 Firefox OS APP 創意競賽將引領你搶先攻佔這片新市場。歡迎對於 APP 懷抱創意與夢想的你報名參加！' %}
{% set page_keywords = 'Mozilla,Mozilla Taiwan,Firefox,Firefox OS,Firefox OS APP,APP,APPs,Web APP,application,創意競賽,開發者,行動裝置,smartphone,developer,iOS,Android,apper,firefox phone,app競賽' %}


{% block base_css %}
  {{ css('attack-on-web') }}
{% endblock %}
{% block head %}
	{% include "event/attack-on-web/navigator.html" %}
{% endblock %}


{% block banner %}
  <div id="main-feature" class="banner">
    <img id="main-feature-banner" src="/static/img/attack_on_web_main_feature.png" />
  </div>
{% endblock %}

{% block content %}
  <ul class="content-list">
    <li id="main-context">
      <h2 class="entry-title">成果展示</h2>
      <h3 class="entry-title">即日起&dash;1/20 投票開跑，強力逗陣！</h3>
      <p>
        我們誠摯邀請您一起為「進撃のWeb：Firefox&nbsp;OS&nbsp;APP&nbsp;校園創意競賽」的所有參賽者大聲加油，透過您寶貴的一票，支持喜歡的作品並用力分享給最愛的朋友！
      </p>
      <p>
        點選你喜歡的作品投票去
      </p>
      <p>創意組</p>
      <p>實作組</p>
    </li>
    <li id="sidebar">
      {% include "event/attack-on-web/sidebar.html" %}
    </li>
  </ul>
{% endblock %}

{% block base_js %}
  {{ js('attack-on-web') }}
{% endblock %}