{% extends "base.html" %}
{% set page_title = 'Firefox OS APP 校園創意競賽 - Mozilla Taiwan' %}
{% set page_description = 'Firefox OS 的出現，給予有心開發行動 App 的 Apper (應用程式開發者) 一片無人踏入的新藍海外。由 Mozilla Taiwan 主辦的 Firefox OS APP 創意競賽將引領你搶先攻佔這片新市場。歡迎對於 APP 懷抱創意與夢想的你報名參加！' %}
{% set page_keywords = 'Mozilla,Mozilla Taiwan,Firefox,Firefox OS,Firefox OS APP,APP,APPs,Web APP,application,創意競賽,開發者,行動裝置,smartphone,developer,iOS,Android,apper,firefox phone,app競賽' %}


{% block base_css %}
  {{ css('attack-on-web') }}
{% endblock %}
{% block head %}
    {% include "event/attack-on-web/navigator.html" %}
{% endblock %}


{% block banner %}
  <div id="main-feature" class="banner">
    <img id="main-feature-banner" alt="Firefox OS APP 校園創意競賽 - Mozilla Taiwan" title="Firefox OS APP 校園創意競賽 - Mozilla Taiwan" src="/static/img/attack_on_web_main_feature.png" />
  </div>

  <nav id="nav-primary" class="menu-principal-container">
    <ul id="menu-principal" class="menu">
      <li><a href="#about">活動介紹</a></li>
      <li><a href="#rules">活動辦法</a></li>
      <li><a href="#score">評分方式</a></li>
      <li><a href="#qualifications">參賽資格</a></li>
      <li><a href="#timetable">活動時程</a></li>
      <li><a href="#notes">注意事項</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <ul class="content-list">
    <li id="main-context">
      {% include "event/attack-on-web/about.html" %}
      {% include "event/attack-on-web/rules.html" %}
      {% include "event/attack-on-web/score.html" %}
      {% include "event/attack-on-web/qualifications.html" %}
      {% include "event/attack-on-web/timetable.html" %}
      {% include "event/attack-on-web/notes.html" %}
    </li>
    <li id="sidebar">
      {% include "event/attack-on-web/sidebar.html" %}
    </li>
  </ul>
{% endblock %}

{% block base_js %}
  {{ js('attack-on-web') }}
{% endblock %}