<div id="notes" class="intro-content">
	<h2 class="entry-title">注意事項</h2>
		<ul>
			<li></li>
			<p class="notes-item">
				參加者不得以非法、欺騙、不實、不公平、不適當、或其他技術性作弊方式取得參加或得獎資格，或從事干擾其他參加者或本活動之情事（包括但不限於上傳病毒或惡意程式碼），違反者係屬嚴重違反本活動辦法，主辦單位有權立即取消其參加或得獎資格。
			</p>
			<li></li>
			<p class="notes-item">
				參加者若提供不實、錯誤或與此競賽主旨無關之資料，或有其他違反本活動辦法者，主辦單位有權取消其得獎資格。主辦單位得基於其裁量權全權判定參加者是否有違反本辦法之情事。
			</p>
			<li></li>
			<p class="notes-item">
				請參加者於繳交期限內上傳企劃書、身份證明文件及參賽作品並依要求格式繳交。如未能在繳交期限內繳交視同放棄參賽資格，恕不接受補件，亦不予退件，請各參賽隊伍自行留存底稿。
			</p>
			<li></li>
			<p class="notes-item">
				個人或團體若至多代表 2 隊參賽，而每一份企劃案限投一組。
			</p>
			<li></li>
			<p class="notes-item">
				依所得稅法規定，獎金價值超過新台幣 20,000 元以上須先扣繳 10% 稅金（外籍人士扣繳 20%），由得獎人自行負擔；惟仍於隔年列單申報免扣繳憑單。
			</p>
			<li></li>
			<p class="notes-item">
				承辦單位享有本活動之競賽規則、評審作業與評審標準等最終修改及認定的權利。
			</p>
		</ul>
</div>