<div id="notes" class="intro-content">
	<h2 class="entry-title">注意事項</h2>
		<ul>
			<li></li>
			<p class="notes-item">
				校園大使獲獎資格：獲獎分區，該分區校園大使之獎品獲取資格為參與此次&nbsp;Firefox&nbsp;OS&nbsp;APP&nbsp;競賽。由區長提供確認的參與之大使名單，參與類型如：參與&nbsp;APP&nbsp;製作、參與&nbsp;APP&nbsp;宣傳推廣、參與&nbsp;APP&nbsp;企劃&hellip;等。
			</p>
			<li></li>
			<p class="notes-item">
				參加者不得以非法、欺騙、不實、不公平、不適當、或其他技術性作弊方式取得參加或得獎資格，或從事干擾其他參加者或本活動之情事（包括但不限於上傳病毒或惡意程式碼），違反者係屬嚴重違反本活動辦法，主辦單位有權立即取消其參加或得獎資格。
			</p>
			<li></li>
			<p class="notes-item">
				依所得稅法規定，獎金價值超過新台幣&nbsp;20,000&nbsp;元以上須先扣繳&nbsp;10&#37;&nbsp;稅金（外籍人士扣繳 20&#37;），由得獎人自行負擔；惟仍於隔年列單申報免扣繳憑單。
			</p>
			<li></li>
			<p class="notes-item">
				承辦單位享有本活動之競賽規則、評審作業、評審標準與活動獎項等最終修改及認定的權利。
			</p>
		</ul>
</div>