{% extends "base.html" %}
{% set page_title = 'Firefox OS APP 校園創意競賽獎項 - Mozilla Taiwan' %}
{% set page_description = 'Firefox OS 的出現，給予有心開發行動 App 的 Apper (應用程式開發者) 一片無人踏入的新藍海外。由 Mozilla Taiwan 主辦的 Firefox OS APP 創意競賽將引領你搶先攻佔這片新市場。歡迎對於 APP 懷抱創意與夢想的你報名參加！' %}
{% set page_keywords = 'Mozilla,Mozilla Taiwan,Firefox,Firefox OS,Firefox OS APP,APP,APPs,Web APP,application,創意競賽,開發者,行動裝置,smartphone,developer,iOS,Android,apper,firefox phone,app競賽' %}


{% block base_css %}
  {{ css('attack-on-web') }}
{% endblock %}
{% block head %}
	{% include "event/attack-on-web/navigator.html" %}
{% endblock %}


{% block banner %}
  {% include "event/attack-on-web/social_navigator.html" %}
  <div id="main-feature" class="banner">
    <img id="main-feature-banner" src="/static/img/attack_on_web_main_feature.png" />
  </div>
{% endblock %}

{% block content %}
  <ul class="content-list">
    <li id="main-context">
      <p><h2>活動獎項</h2></p>
      <ul style="margin-top:2em;">
        <h3 class="entry-title">網路票選最佳人氣獎</h3>
          <p>
          Firefox&nbsp;大禮包 (內含&nbsp;Firefox&nbsp;帆布小書包、Firefox&nbsp;限量潮帽、Firefox&nbsp;輕巧購物袋、Firefox&nbsp;悠遊卡(空卡)、Firefox&nbsp;電腦貼膜、Firefox&nbsp;OS&nbsp;狐狸貼紙&hellip;&nbsp;等等多項精美好禮)
          </p>
          <p><h4>以下圖片供參考，實際獎品更美好。</h4></p>
          <img class="prize-img" src="/static/img/awards.jpg" width="600" height="480"></img>
      </ul>
      <ul>
        <h3 class="entry-title">工程師之榮耀最佳&nbsp;APP獎</h3>
          <p>
          Firefox&nbsp;OS&nbsp;行動裝置乙台
          </p>
          <p><h4>以下圖片供參考，實際獎品更美好。</h4></p>
          <img class="prize-img" src="/static/img/phone.jpg" width="600" height="480"></img>
      </ul>
    </li>
    <li id="sidebar">
      {% include "event/attack-on-web/sidebar.html" %}
    </li>
  </ul>
{% endblock %}

{% block base_js %}
  {{ js('attack-on-web') }}
{% endblock %}