<div id="rules" class="intro-content">
	<h2 class="entry-title">活動辦法</h2>
		<p>參加者於即日起至 2013/10/30 完成線上報名。每一人至多可代表 2 隊參賽，一份企劃書限投一組。並於 12/10 以前完成作品上傳 (實作組需附上 GitHub 連結)。並於 12/15 成果發表日進行現場發表，最終由成果發表日之評審分數與網路票選決定優勝隊伍。參賽 APP 作品類型不限，舉凡遊戲、實用、生活、社群、數位內容…等，均可參賽。<br>註：參賽者於報名後請留意信箱，以利後續註冊與企劃案、作品繳交… 等各項通知。<br>
		</p>
		<ul>
			<li>企劃書繳交&nbsp;（若與其他頁面內容重覆可選擇不放）
				<p class="list-description-container">
					請下載企劃書標準格式下載 <href://….>，於 10/30 以前完成企劃書繳交。<br>上傳格式：Word、PDF、RAR、ZIP 檔案格式，10MB 以內
				</p>
			</li>
			<li>作品繳交&nbsp;（若與其他頁面內容重覆可選擇不放)
				<p class="list-description-container">
					創意組與實作組適用，於 12/10 以前完成上傳。<br>上傳形式：投影片(PDF, PPT, KEYNOTE)、影片 (MOV, WAV, MPEG4…)
				</p>
			</li>
			<li>實作組需另付上 GitHub 連結或 APP Host 之 Server 連結。</li>
		</ul>
</div>