<div id="rules" class="intro-content">
	<h2 class="entry-title">活動辦法</h2>
		<p>
			各區校園大使至少需開發&nbsp;1&nbsp;個APP，無開發數量上限。請於&nbsp;10/21&nbsp;&ndash;&nbsp;10/31&nbsp;繳交企劃書，並請於&nbsp;12/01前完成作品並繳件附上實作連結。12/21 成果發表日進行現場發表。最終由成果發表日之評審分數與網路票選票數決定優勝隊伍。參賽&nbsp;APP&nbsp;作品類型不限，舉凡遊戲、實用、生活、社群、數位內容…等，均可參賽。
		</p>
		<ul>
			<li>企劃書繳交
				<p class="list-description-container">企劃書檔案格式：Google&nbsp;document<br>
					請各區協調一位代表於&nbsp;10/31&nbsp;以前至官方網站 企劃書繳交 專區，套用<a href="http://goo.gl/6fgL0L" target="_blank">「進撃のWeb企畫書範本」</a> 填寫企劃內容並提供企劃書連結。(企劃書內容不得超過10頁)。
				</p>
			</li>
			<li>作品繳交
				<p class="list-description-container">
					請參賽者於 11/21~12/01 完成作品，前往<a class="unpub" href="#!">成果發佈</a>專區上傳，並提供作品之介紹影片或投影片連結。<br>
					作品繳件形式：GitHub&nbsp;連結或&nbsp;APP&nbsp;Host&nbsp;之&nbsp;Server 連結。
				</p>
			</li>
			<li>網路票選
				<p class="list-description-container">
					投票者藉由<strong>成果展示</strong>專區了解各區大使作品並進行網路人氣投票。<br>網路票選期間為&nbsp;12/05&nbsp;&ndash;&nbsp;12/20
				</p>
			</li>
			<li>成果展示&nbsp;LIVE&nbsp;Show
				<p class="list-description-container">
					請參賽者於 12/21 出席成果展示活動，進行作品之成果展示。
				</p>
			</li>
		</ul>
</div>