<h3 class="widget-title">立體機動裝置</h3>
<ul id="useful-links">
    <li class="sidebar-links"><a id="firefox-browser-link" href="#"><h4>Firefox&nbsp;瀏覽器</h4><span class="desc">請立即下載全新 Firefox 瀏覽器 - 快速、百變、安全</span></a></li>
    <li class="sidebar-links"><a id="simulator-link" href="#"><h4>Simulator</h4><span class="desc">免費下載 Firefox OS 模擬器</span></a></li>
    <li class="sidebar-links"><a id="developer-info-link" href="#"><h4>開發者資訊</h4><span class="desc">取得關於 Firefox OS 之開發相關資訊</span></a></li>
    <li class="sidebar-links"><a id="match-up-link" href="#"><h4>火狐人才庫</h4><span class="desc">加入火狐人才庫，找到與你志同道合的參賽團隊夥伴</span></a></li>
    <li class="sidebar-links"><a id="course-ware-link" href="#"><h4>開放式課程</h4><span class="desc">Vit Idiot.</span></a></li>
    <li class="sidebar-links"><a id="event-calendar-link" href="#"><h4>活動行事曆</h4><span class="desc">Vit Idiot.</span></a></li>
</ul>