<h3 class="widget-title">資源百寶箱</h3>
<ul id="useful-links">
    <li class="sidebar-links"><a id="firefox-browser-link" target="_blank" href="http://mozilla.com.tw/firefox/download/"><h4>Firefox&nbsp;瀏覽器</h4><span class="desc">請立即下載全新 Firefox 瀏覽器 - 快速、百變、安全</span></a></li>
    <li class="sidebar-links"><a id="simulator-link" target="_blank" href="https://developer.mozilla.org/zh-TW/docs/Tools/Firefox_OS_Simulator"><h4>Simulator</h4><span class="desc">Firefox&nbsp;OS&nbsp;模擬器安裝＆使用教學</span></a></li>
    <li class="sidebar-links"><a id="developer-info-link" target="_blank" href="https://docs.google.com/file/d/0BwdA__v9zbq0MmVIeUJERE52Snc/edit?usp=sharing"><h4>開發者資訊</h4><span class="desc">取得關於&nbsp;Firefox&nbsp;OS&nbsp;之開發相關資訊</span></a></li>
    <li class="sidebar-links"><a id="course-ware-link" target="_blank" href="https://www.youtube.com/MozillaTaiwan"><h4>開放式課程</h4><span class="desc">觀賞活動相關的課程錄影</span></a></li>
    <li class="sidebar-links"><a id="event-calendar-link" target="_blank" href="https://www.google.com/calendar/render?cid=ergh3tgrvcdbkjhqo8198665p8%40group.calendar.google.com"><h4>活動行事曆</h4><span class="desc">訂閱此活動的行事曆</span></a></li>
</ul>