<nav class="nav-social" id="nav-social-head">
    <ul>
      <li>
        <a class="facebook" rel="external" title="facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ SITE_URL }}{{ request.build_absolute_uri() }}&p[images][0]=http://firefox.club.tw/static/img/attack_on_web_main_feature.png&p[title]=Firefox OS APP 校園創意競賽 - Mozilla Taiwan&p[summary]=Firefox OS 的出現，給予有心開發行動 App 的 Apper (應用程式開發者) 一片無人踏入的新藍海外。由 Mozilla Taiwan 主辦的 Firefox OS APP 創意競賽將引領你搶先攻佔這片新市場。歡迎對於 APP 懷抱創意與夢想的校園大使報名參加！">facebook</a>
      </li>
      <li>
        <a class="google" rel="external" title="Google+" target="_blank" href="https://plus.google.com/share?url={{ SITE_URL }}{{ request.build_absolute_uri() }}">google+</a>
      </li>
      <li>
        <a class="plurk" rel="external" title="Plurk" target="_blank" href="http://www.plurk.com/?qualifier=shares&status={{ SITE_URL }}{{ request.build_absolute_uri() }}%20(Firefox%20OS%20%E7%9A%84%E5%87%BA%E7%8F%BE%EF%BC%8C%E7%B5%A6%E4%BA%88%E6%9C%89%E5%BF%83%E9%96%8B%E7%99%BC%E8%A1%8C%E5%8B%95%20App%20%E7%9A%84%20Apper%20(%E6%87%89%E7%94%A8%E7%A8%8B%E5%BC%8F%E9%96%8B%E7%99%BC%E8%80%85)%20%E4%B8%80%E7%89%87%E7%84%A1%E4%BA%BA%E8%B8%8F%E5%85%A5%E7%9A%84%E6%96%B0%E8%97%8D%E6%B5%B7%E5%A4%96%E3%80%82%E7%94%B1%20Mozilla%20Taiwan%20%E4%B8%BB%E8%BE%A6%E7%9A%84%20Firefox%20OS%20APP%20%E5%89%B5%E6%84%8F%E7%AB%B6%E8%B3%BD%E5%B0%87%E5%BC%95%E9%A0%98%E4%BD%A0%E6%90%B6%E5%85%88%E6%94%BB%E4%BD%94%E9%80%99%E7%89%87%E6%96%B0%E5%B8%82%E5%A0%B4%E3%80%82%E6%AD%A1%E8%BF%8E%E5%B0%8D%E6%96%BC%20APP%20%E6%87%B7%E6%8A%B1%E5%89%B5%E6%84%8F%E8%88%87%E5%A4%A2%E6%83%B3%E7%9A%84%E6%A0%A1%E5%9C%92%E5%A4%A7%E4%BD%BF%E5%A0%B1%E5%90%8D%E5%8F%83%E5%8A%A0%EF%BC%81)">Plurk</a>
      </li>
    </ul>
  </nav>