<div id="timetable" class="intro-content">
	<h2 class="entry-title">活動時程</h2>
	<table>
			<tr><td>9/1&nbsp;&ndash;&nbsp;10/30</td><td>開放報名</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
			<tr><td>10/15&nbsp;&ndash;&nbsp;10/30</td><td>企劃書上傳</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
			<tr><td>12/1&nbsp;&ndash;&nbsp;12/10</td><td>作品上傳</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
			<tr><td>12/15</td><td>成果展評審</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
			<tr><td>12/15&nbsp;&ndash;&nbsp;1/20</td><td>網路投票</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
			<tr><td>1/20</td><td>競賽得獎名單公佈/頒獎</td><td>
				<a class="button button-negative" href="http://www.google.com/calendar/event?action=TEMPLATE&text=%E9%96%8B%E6%94%BE%E5%A0%B1%E5%90%8D&dates=20130831/20131029&details=&location=&trp=true&sprop=%E9%80%B2%E6%92%83%E3%81%AEWeb&sprop=name:http%3A%2F%2Ffirefox.club.tw%2Fevents%2Fattack-on-web%2F" target="_blank">新增至行事曆
				</a>
			</td></tr>
		</tbody>
	</table>
</div>