<div id="timetable" class="intro-content">
	<h2 class="entry-title">活動時程</h2>
	<table>
			<tr><td>9/1&nbsp;&ndash;&nbsp;10/30</td><td>開放報名</td><td><a href="http://www.google.com/calendar/event?action=TEMPLATE&text=test&dates=20130827/20130828&details=test&location=test&trp=false&sprop=&sprop=name:" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button2.gif" border=0></a></td></tr>
			<tr><td>10/15&nbsp;&ndash;&nbsp;10/30</td><td>企劃書上傳</td><td>button</td></tr>
			<tr><td>12/1&nbsp;&ndash;&nbsp;12/10</td><td>作品上傳</td><td>button</td></tr>
			<tr><td>12/15</td><td>成果展評審</td><td>button</td></tr>
			<tr><td>12/15&nbsp;&ndash;&nbsp;1/20</td><td>網路投票</td><td>button</td></tr>
			<tr><td>1/20</td><td>競賽得獎名單公佈/頒獎</td><td>button</td></tr>
		</tbody>
	</table>
</div>