{% set page_image = photo.image_medium.name %}
{% set page_title = 'Firefox 活力軍成果展分享' %}
{% set page_description = photo.description %}
{% extends "base.html" %}
{% block title %}Mozilla Taiwan - 美商謀智台灣分公司，Firefox 活力軍成果展分享 - {{ photo.description }}{% endblock %}
{% block base_css %}
  {{ css('base') }}
  {{ css('event_photo') }}
{% endblock %}
{% block banner %}
    <hgroup id="main-feature" class="default intro">
        <h1>Firefox 活力軍成果展分享</h1>
        <h2>{{ photo.description }}</h2>
    </hgroup>
{% endblock %}
{% block content %}
  <div class="eventPhoto">
    <a class="eventPhotoLink" href="/static/{{ photo.image_large.name }}" title="{{ photo.description }}">
      <img width="{{ photo.image_large_width }}" height="{{ photo.image_large_height }}"
           src="/static/{{ photo.image_large.name }}"
           alt="{{ photo.description }}" title="{{ photo.description }}"/>
    </a>

    <p>{{ photo.description }}</p>
  </div>
{% endblock %}
