{% extends "base.html" %}

{% block title %}Mozilla Taiwan - 美商謀智台灣分公司， Firefox 活力軍成果展{% endblock %}

{% block base_css %}
  {{ css('event') }}
{% endblock %}
{% block head %}
  <div class="eventShowHead">
    <header id="masthead">
      <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0" data-nav="closed">Menu</span>

      <h1><a href="/">Firefox 活力軍成果展</a></h1>
      <a title="打開" role="button" class="tabzilla-closed" href="http://mozilla.com.tw/" id="tabzilla">Mozilla</a>
    </header>
  </div>
{% endblock %}

{% block banner %}
  <hgroup id="main-feature" class="eventShow">
    <h1>歡迎加入 Firefox 活力軍</h1>

    <h2>Welcom to you</h2>

    <h3>
      你可以立即上傳推廣相片與大家分享，並欣賞每個人的作品！
    </h3>
  </hgroup>
{% endblock %}

{% block content %}
    <div class="loveCircle"></div>
  {% if request.user.is_active %}
    {% if upload_form.hasEvent %}
      <a class="sharePhotoLink submitButton" href="javascript:void(0)">我也要分享成果！</a>
    {% else %}
      <br>
      <a class="productsLink" href="{{ url("product.wall") }}">還沒申請宣傳品嗎？趕快去申請，再回來和大家分享成果吧！</a>
      <br><br>
    {% endif %}
  {% else %}
    <p>
      <button class="browserid loginButton">分享成果請先登入</button>
    </p>
    <form method="POST" action="{{ url('browserid_verify') }}">
      {{ csrf() }}
      {{ browserid_form.as_p() }}
      <input type="hidden" name="next" value="{{ url('event.wall') }}">
    </form>
  {% endif %}
  <div class="eventWall">
    <ul class="eventPhotos">
      {% if event_photos|length == 0 %}
        <p>目前没有任何照片分享，成為第一個分享的人吧！</p>
      {% else %}
        {% for event_photo in event_photos %}
          <li class="eventPhoto">
            <div class="photoFrame">
              <a class="eventPhotoLink" href="/static/{{ event_photo.image_large }}"
                 title="{{ event_photo.description }}">
                <img data-full-width="{{ event_photo.image_large_width }}"
                     data-full-height="{{ event_photo.image_large_height }}"
                     width="260" height="{{ event_photo.image_medium_height / event_photo.image_medium_width * 260 }}"
                     src="/static/{{ event_photo.image_medium }}"
                     alt="{{ event_photo.description }}" title="{{ event_photo.description }}"/>
              </a>
            </div>
            <div class="photoDescription">
              <p>{{ event_photo.description }}</p>
            </div>
            <div class="photoInfo">
              <p>投稿者：<b>{{ event_photo.create_user.get_profile().fullname }}</b>
              <p>發表於：<b><span class="time" title="{{ event_photo.create_time }}"></span></b>
            </div>

          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}
{% block popup %}
  <div class="uploadForm">
    {% if request.user.is_active and upload_form.hasEvent %}
      <form enctype="multipart/form-data" method="post" action="">
        {{ csrf() }}
        <ul>
          {{ upload_form.as_ul() }}
        </ul>
        <button class="submitButton" type="submit" value="1">我要上傳</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
{% block base_js %}
  {{ js('event') }}
  {% if not request.user.is_active %}
    {{ js('browserid') }}
    {#    {{ browserid_form.media }}#}
  {% endif %}
{% endblock %}
