{% extends "base.html" %}

{% block title %}Mozilla Taiwan - 美商謀智台灣分公司， Firefox 活力軍成果展{% endblock %}

{% block base_css %}
  {{ css('event') }}
{% endblock %}
{% block head %}
  <div class="eventShowHead">
    <header id="masthead">
      <span class="toggle" role="button" tabindex="0" data-nav="closed">Menu</span>
      <a href="/">
        <div class="logo"></div>
      </a>

      <h1>Firefox 活力軍成果展</h1>
      <a title="打開" role="button" class="tabzilla-closed" href="http://mozilla.com.tw/" id="tabzilla">Mozilla</a>
    </header>
  </div>
{% endblock %}

{% block banner %}
  <hgroup id="main-feature" class="eventShow">
    <h1>歡迎加入 Firefox 活力軍</h1>

    <h2>Welcom to you</h2>

    <h3>
      你可以立即上傳推廣相片與大家分享，並欣賞每個人的作品！
    </h3>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="loveCircle"></div>
  {% if request.user.is_active %}
    {% if upload_form.hasEvent %}
      <a class="sharePhotoLink submitButton" href="javascript:void(0)">我也要分享成果！</a>
    {% else %}
      <br>
      <a class="productsLink" href="{{ url('product.wall') }}">還沒申請宣傳品嗎？趕快去申請，再回來和大家分享成果吧！</a>
      <br><br>
    {% endif %}
  {% else %}
    <p>
      <button class="browserid loginButton">分享成果請先登入</button>
    </p>
    <form method="POST" action="{{ url('browserid_verify') }}">
      {{ csrf() }}
      {{ browserid_form.as_p() }}
      <input type="hidden" name="next" value="{{ url('event.wall') }}">
    </form>
  {% endif %}
  <div class="eventWall">
    {% if event_photos|length == 0 %}
      <div class="eventPhotos">
        <p>目前没有任何照片分享，成為第一個分享的人吧！</p>
      </div>
    {% else %}
      <ul class="eventPhotos">
        {% for event_photo in event_photos %}
          <li class="eventPhoto">
            <div class="photoFrame">
              <a class="eventPhotoLink"
                 href="{{ request.build_absolute_uri(url('event.photo', photo_id=event_photo.id)) }}"
                 title="{{ event_photo.description }}">
                <img data-full-width="{{ event_photo.image_large_width }}"
                     data-full-height="{{ event_photo.image_large_height }}"
                     data-large-src="/static/{{ event_photo.image_large.name }}"
                     width="260" height="{{ event_photo.image_medium_height / event_photo.image_medium_width * 260 }}"
                     src="/static/{{ event_photo.image_medium.name }}"
                     alt="{{ event_photo.description }}" title="{{ event_photo.description }}"/>
              </a>

              <div class="socialButtons">
                <div class="facebookLike">
                </div>
                <div class="googlePlus">
                </div>
                {% if request.user.is_active %}
                  <ul class="miscDropdown">
                    <li>
                      <a class="reportPhoto" href="{{ url('event.photo.report', photo_id=event_photo.id) }}">檢舉</a>
                    </li>
                    {% if event_photo.create_user == request.user %}
                      <li>
                        <a class="removePhoto" href="{{ url('event.photo.remove', photo_id=event_photo.id) }}">刪除</a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="photoDescription">
              <p>{{ event_photo.description }}</p>
            </div>
            <div class="photoInfo">
              <p>投稿者：<b>{{ event_photo.create_username }}</b>

              <p>發表於：<b><span class="time" title="{{ event_photo.create_time }}"></span></b>
            </div>

          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if event_photos|length > 0 %}
      <div id="page-nav">
        <a href="{{ url('event.wall.page', page_number=2) }}"></a>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block popup %}
  <div class="uploadForm">
    {% if request.user.is_active and upload_form.hasEvent %}
      <form enctype="multipart/form-data" method="post">
        {{ csrf() }}
        <ul>
          {{ upload_form.as_ul() }}
        </ul>
        <button class="submitButton" type="submit" value="1">我要上傳</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
{% block base_js %}
  {{ js('event') }}
  {% if not request.user.is_active %}
    {{ js('browserid') }}
    {#    {{ browserid_form.media }}#}
  {% endif %}
  <div id="fb-root"></div>

  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId={{ FB_APP_ID }}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript">
    window.___gcfg = {lang: 'zh-TW'};

    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
{% endblock %}
