<!DOCTYPE html>
<html class="js">
<head>
{% if not page_image %}
  {% set page_image = 'images/css/banner_default.jpg' %}
{% endif %}
{% if not page_title %}
  {% set page_title = 'Mozilla Taiwan - 美商謀智台灣分公司，歡迎加入 Firefox 活力軍' %}
{% endif %}
{% if not page_description %}
  {% set page_description = 'Mozilla 是一個全球化的非營利組織，致力於打造開放自由的網路未來，支持開放源碼的資源共享。Mozilla Firefox 為全球前三大瀏覽器。Mozilla Firefox OS 打造行動市場新未來。' %}
{% endif %}
{% if not page_keywords %}
  {% set page_keywords = 'Mozilla, mozilla 志工, firefox 志工, mozilla firefox, fire fox, firefox, open source, opensource, firefoxos, firefox os, fire fox os, 瀏覽器, 瀏覽器下載, 下載瀏覽器, 火狐, 火狐狸, 開放原始碼, Firefox 繁體中文, Firefox 繁體中文下載, Firefox 下載, Firefox download, download Firefox, Firefox for Android, Firefox Mobile, Firefox 行動版, Firefox Android,Mozilla, Thunderbird, Gecko, Boot to Gecko, B2G, Boot 2 Gecko, 謀智, 雷鳥, Free Software, Open Web, 開放源碼, 開源, 自由軟體, 開放網路, HTML, HTML5, Javascript, CSS, Firefox 貼紙, Firefox 明信片, Firefox 海報, Firefox 型錄, IE, Internet explorer, Chrome, Opera' %}
{% endif %}
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <!-- webmaster -->
  <meta name="google-site-verification" content="kxaghIzXbAdpWsx1lKTp_zYJYBapVovVXCos_SBzwU4"/>
  <meta name="msvalidate.01" content="2AD7287934316BECA5BD4D8643042389"/>
  <!-- metadata and facebook open graph -->
  <meta name="description"
        content="{{ page_description }}"/>
  <meta name="keywords"
        content="{{ page_keywords }}"/>
  {% if request %}
    <meta property="og:title" content="{% block og_title %}{{ page_title }}{% endblock %}"/>
    <meta property="og:description" content="{% block og_desc %}{{ page_description }}{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}{{ request.build_absolute_uri(STATIC_URL)+page_image }}{% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}"/>
  {% endif %}
  <title>{% block title %}{{ page_title }}{% endblock %}</title>
  {% if request %}
    <link rel="canonical" href="{{ request.build_absolute_uri() }}"/>
  {% endif %}
  <link rel="shortcut icon" href="http://mozilla.com/favicon.ico"/>
  <!--[if lte IE 8]>
    <script src="/js/libs/html5shiv.js"></script>
    <![endif]-->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40020008-1']);
    var pluginUrl =
     '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {{ css('site') }}
  {% block base_css %}
    {{ css('base') }}
  {% endblock %}
</head>
<body>
{% include "sandstone/tabzilla.html" %}
<div id="body_wrapper">
<div id="outer-wrapper">
  <div id="wrapper">
    {% block head %}
      <header id="masthead">
        <a title="打開" role="button" href="/" id="tabzilla">Mozilla</a>
        {% include "navigator.html" %}
        <h1><a href="//mozilla.com.tw">Firefox 活力軍</a></h1>
      </header>
    {% endblock %}

    {% block banner %}
      <hgroup id="main-feature" class="default intro">
        <h1>歡迎加入 Firefox 活力軍</h1>

        <h2>Welcom to you</h2>
      </hgroup>
    {% endblock %}
    <div id="main-content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <!-- end of wrapper-->

</div>
<!-- end of outer-wrapper-->
</div>
{% include "sandstone/footer.html" %}
<!--end of body_warpper-->
<div class="popup">
  {% block popup %}
  {% endblock %}
</div>
{{ js('site') }}
{% block base_js %}
  {#  {{ js('base') }}#}
  {#  {% if not request.user.is_active %}#}
  {#    {{ browserid_form.media }}#}
  {#  {% endif %}#}
{% endblock %}
</body>
</html>
