{% if not page_image %}
  {% set page_image = 'images/css/banner_default.jpg' %}
{% endif %}
{% if not page_title %}
  {% set page_title = 'Mozilla Taiwan - 美商謀智台灣分公司，歡迎加入 Firefox 活力軍' %}
{% endif %}
{% if not page_description %}
  {% set page_description = 'Mozilla 是一個全球化的非營利組織，致力於打造開放自由的網路未來，支持開放源碼的資源共享。Mozilla Firefox 為全球前三大瀏覽器。Mozilla Firefox OS 打造行動市場新未來。' %}
{% endif %}
{% if not page_keywords %}
  {% set page_keywords = 'Mozilla, mozilla 志工, firefox 志工, mozilla firefox, fire fox, firefox, open source, opensource, firefoxos, firefox os, fire fox os, 瀏覽器, 瀏覽器下載, 下載瀏覽器, 火狐, 火狐狸, 開放原始碼, Firefox 繁體中文, Firefox 繁體中文下載, Firefox 下載, Firefox download, download Firefox, Firefox for Android, Firefox Mobile, Firefox 行動版, Firefox Android,Mozilla, Thunderbird, Gecko, Boot to Gecko, B2G, Boot 2 Gecko, 謀智, 雷鳥, Free Software, Open Web, 開放源碼, 開源, 自由軟體, 開放網路, HTML, HTML5, Javascript, CSS, Firefox 貼紙, Firefox 明信片, Firefox 海報, Firefox 型錄, IE, Internet explorer, Chrome, Opera' %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <!-- webmaster -->
  <meta name="google-site-verification" content="kxaghIzXbAdpWsx1lKTp_zYJYBapVovVXCos_SBzwU4"/>
  <meta name="msvalidate.01" content="2AD7287934316BECA5BD4D8643042389"/>
  <!-- metadata and facebook open graph -->
  <meta name="description"
        content="{{ page_description }}"/>
  <meta name="keywords"
        content="{{ page_keywords }}"/>
{% if request %}
  <meta property="og:title" content="{% block og_title %}{{ page_title }}{% endblock %}"/>
  <meta property="og:description" content="{% block og_desc %}{{ page_description }}{% endblock %}"/>
  <meta property="og:image" content="{% block og_image %}{{ request.build_absolute_uri('/static/')+page_image|urlencode }}{% endblock %}"/>
  <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}"/>
{% endif %}
  <title>{% block title %}{{ page_title }}{% endblock %}</title>
{% if request %}
  <link rel="canonical" href="{{ request.build_absolute_uri() }}"/>
{% endif %}
  <link rel="shortcut icon" href="http://mozilla.com/favicon.ico"/>
  <!--[if lte IE 8]>
    <script src="/js/libs/html5shiv.js"></script>
    <![endif]-->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40020008-1', 'firefox.club.tw');
    ga('send', 'pageview');

  </script>
  {{ css('site') }}
  {% block base_css %}
    {{ css('base') }}
  {% endblock %}
</head>
<body>
<div id="body_wrapper">
  <div id="tabzilla-panel" class="close-nav">
    <div id="tabzilla-contents">
      <div id="tabzilla-promo">
        <div id="promo-block" class="promo-android-ff"> <!--ex: promo-firefox, promo-MWC, promo-flicks -->
          <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">
            <h4>Firefox for Android</h4>

            <p>我會說中文了！</p>
          </a>
        </div>
        <!-- end of promo-name -->
      </div>
      <!-- end of tabzilla-promo -->
      <div id="tabzilla-nav">
        <ul>
            <li class="sitemap">
                <a href="http://mozilla.com.tw/firefox/" title="下載 Mozilla Firefox 中文版">Firefox</a>
                <ul>
                    <li>
                        <a href="http://mozilla.com.tw/firefox/features/" title="下載 Mozilla Firefox 中文桌面版">Firefox 桌面版</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/firefox/mobile/" title="Mozilla Firefox 行動版">Firefox 行動版</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/firefox/channel/" title="Mozilla Firefox 未來發行版">Firefox 未來發行版</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/firefoxos/" title="Firefox 行動作業系統">Firefox OS</a>
                    </li>
                    <li>
                        <a href="https://addons.mozilla.org/zh-TW/firefox/" title="Firefox 附加元件">附加元件</a>
                    </li>
                    <li>
                        <a href="https://support.mozilla.com/zh-TW/home" title="Firefox 說明文件、支援中心">支援中心</a>
                    </li>
                </ul>
            </li>
            <li class="sitemap">
                <a href="http://mozilla.com.tw/community/" title="社群參與">社群參與</a>
                <ul>
                    <li>
                        <a href="http://firefox.club.tw/" title="Firefox 活力軍">Firefox 活力軍</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/community/student/" title="校園大使">校園大使</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/community/contribute/" title="社群專案">社群專案</a>
                    </li>
                </ul>
            </li>
            <li class="sitemap">
                <a href="http://mozilla.com.tw/news/" title="訊息中心">訊息中心</a>
                <ul>
                    <li>
                        <a href="http://blog.mozilla.com.tw/main" title="部落格">部落格</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/news/press/" title="Mozilla 新聞">Mozilla 新聞</a>
                    </li>
                    <li>
                        <a href="http://blog.mozilla.com.tw/events-list" title="活動訊息">活動訊息</a>
                    </li>
                    <li>
                        <a href="http://tech.mozilla.com.tw/" title="謀智台客">謀智台客</a>
                    </li>
                </ul>
            </li>
            <li class="sitemap">
                <a href="http://mozilla.com.tw/about/" title="關於我們">關於我們</a>
                <ul>
                    <li>
                        <a href="http://mozilla.com.tw/about/manifesto/" title="Mozilla 宣言">Mozilla 宣言</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/about/space/" title="Mozilla Space">Mozilla Space</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/about/careers/" title="工作機會">工作機會</a>
                    </li>
                    <li>
                        <a href="http://mozilla.com.tw/about/contact/" title="聯絡資訊">聯絡資訊</a>
                    </li>
                    <li>
                        <a href="//mozilla.org/en-US/" title="Mozilla (US)">Mozilla (US)</a>
                    </li>
                </ul>
            </li>
          <!-- end of sitemap -->
        </ul>
      </div>
      <!-- end of tabzilla-nav -->
    </div>
    <!-- end of tabzilla-content -->
  </div>
  <!-- end of tabzilla-panel -->
  <div id="outer-wrapper">
    <div id="wrapper">
      {% block head %}
        <header id="masthead">
          <span class="toggle" role="button" tabindex="0" data-nav="closed">Menu</span>

          <h1><a href="/">Firefox 活力軍</a></h1>
          <a title="打開" role="button" class="tabzilla-closed" href="http://mozilla.com.tw/" id="tabzilla">Mozilla</a>
        </header>
      {% endblock %}
      {% block banner %}
        <hgroup id="main-feature" class="default intro">
          <h1>歡迎加入 Firefox 活力軍</h1>

          <h2>Welcom to you</h2>
        </hgroup>
      {% endblock %}
      <div id="main-content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- end of wrapper-->
    <footer id="footer">
      <div id="footer-wrapper">
        <div id="footer-logo" class="footer-content">
          <a href="http://mozilla.org/en-US/" target="_blank" title="mozilla taiwan">
            mozilla taiwan
          </a>
        </div>
        <div id="sub-footer" class="footer-content">
          <strong>與我們為友</strong>
          <ul>
            <li id="footer-Facebook">
              <a href="https://www.facebook.com/MozillaTaiwan">Facebook</a>
            </li>
            <li id="footer-Google+">
              <a href="https://plus.google.com/u/0/114653167240123163859/posts">Google+</a>
            </li>
            <li id="footer-Plurk">
              <a href="http://plurk.com/MozillaTaiwan">Plurk</a>
            </li>
            <li id="footer-Youtube">
              <a href="http://www.youtube.com/user/MozillaTaiwan">Youtube</a>
            </li>
            <li id="footer-Flickr">
              <a href="http://www.flickr.com/photos/mozillataiwan/">Flickr</a>
            </li>
            <li id="footer-電子報">
              <a href="http://mozilla.com.tw/join_us/">電子報</a>
            </li>
          </ul>
        </div>
        <!--end sub-footer-->
        <div id="copyright" class="footer-content">
          <ul>
            <li><a href="http://www.mozilla.org/zh-TW/privacy-policy.html">隱私資料政策</a>&nbsp;|</li>
            <li><a href="http://www.mozilla.org/zh-TW/about/legal.html">法律資訊</a>&nbsp;|</li>
            <li><a href="http://www.mozilla.org/zh-TW/legal/fraud-report/index.html">回報商標濫用</a>&nbsp;|</li>
            <li><a href="http://mozilla.com.tw/join_us/un_subscribe/">取消訂閱電子報</a>&nbsp;|</li>
          </ul>
          <p>除另有<a href="http://www.mozilla.org/zh-TW/about/legal.html#site">註明</a>外，本站內容皆採用<br>
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">創用 CC 姓名標示—相同方式分享條款 3.0 </a>或更新版本授權大眾使用。</p>
        </div>
        <!-- end copyright-->
      </div>
      <!-- end of footer-wrapper -->
    </footer>
    <!-- end of footer -->
  </div>
  <!-- end of outer-wrapper-->
</div>
<!--end of body_warpper-->
<div class="popup">
  {% block popup %}
  {% endblock %}
</div>
{{ js('site') }}
{% block base_js %}
{#  {{ js('base') }}#}
  {#  {% if not request.user.is_active %}#}
  {#    {{ browserid_form.media }}#}
  {#  {% endif %}#}
{% endblock %}
</body>
</html>
