<!DOCTYPE html>
{% block html_tag %}<html class="windows no-js {% block html_classes %}{% endblock %}">{% endblock %}
<head>
{% if not page_image %}
  {% set page_image = 'images/css/banner_default.jpg' %}
{% endif %}
{% if not page_title %}
  {% set page_title = '歡迎加入 Firefox 活力軍 - Mozilla Taiwan - 美商謀智台灣分公司' %}
{% endif %}
{% if not page_description %}
  {% set page_description = 'Mozilla 是一個全球化的非營利組織，致力於打造開放自由的網路未來，支持開放源碼的資源共享。Mozilla Firefox 為全球前三大瀏覽器。Mozilla Firefox OS 打造行動市場新未來。' %}
{% endif %}
{% if not page_keywords %}
  {% set page_keywords = 'Mozilla, mozilla 志工, firefox 志工, mozilla firefox, fire fox, firefox, open source, opensource, firefoxos, firefox os, fire fox os, 瀏覽器, 瀏覽器下載, 下載瀏覽器, 火狐, 火狐狸, 開放原始碼, Firefox 繁體中文, Firefox 繁體中文下載, Firefox 下載, Firefox download, download Firefox, Firefox for Android, Firefox Mobile, Firefox 行動版, Firefox Android,Mozilla, Thunderbird, Gecko, Boot to Gecko, B2G, Boot 2 Gecko, 謀智, 雷鳥, Free Software, Open Web, 開放源碼, 開源, 自由軟體, 開放網路, HTML, HTML5, Javascript, CSS, Firefox 貼紙, Firefox 明信片, Firefox 海報, Firefox 型錄, IE, Internet explorer, Chrome, Opera' %}
{% endif %}
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <!-- webmaster -->
  <meta name="google-site-verification" content="kxaghIzXbAdpWsx1lKTp_zYJYBapVovVXCos_SBzwU4"/>
  <meta name="msvalidate.01" content="2AD7287934316BECA5BD4D8643042389"/>
  <!-- metadata and facebook open graph -->
  <meta name="description"
        content="{{ page_description }}"/>
  <meta name="keywords"
        content="{{ page_keywords }}"/>
  {% if request %}
    <meta property="fb:app_id" content="{{ FB_APP_ID }}"/>
    <meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{{ page_title }}{% endblock %}"/>
    <meta property="og:description" content="{% block og_desc %}{{ page_description }}{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}{{ request.build_absolute_uri(STATIC_URL)+page_image }}{% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}"/>
  {% endif %}
  <title>{% block title %}{{ page_title }}{% endblock %}</title>
  {% if request %}
    <link rel="canonical" href="{% block canonical %}{{ request.build_absolute_uri() }}{% endblock %}"/>
  {% endif %}
  <link rel="shortcut icon" href="//mozilla.com/favicon.ico"/>
  <!--[if lte IE 8]>
    <script src="/js/libs/html5shiv.js"></script>
    <![endif]-->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40020008-1']);
    var pluginUrl =
     '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {{ css('site') }}
  {% block base_css %}
    {{ css('base') }}
  {% endblock %}
</head>
<body>
{% include "sandstone/tabzilla.html" %}
<div id="body_wrapper">
<div id="outer-wrapper" class="slide-x">
  <div id="wrapper">
    {% block head %}
      <header id="masthead">
        <a title="打開" role="button" href="/" id="tabzilla">Mozilla</a>
        {% include "navigator.html" %}
        <h1><a href="//mozilla.com.tw">Firefox 活力軍</a></h1>
      </header>
    {% endblock %}

    {% block banner %}
      <hgroup id="main-feature" class="default intro">
        <h1>歡迎加入 Firefox 活力軍</h1>

        <h2>Welcom to you</h2>
      </hgroup>
    {% endblock %}
    <div id="main-content">
      {% block content %}{% endblock %}
    </div>
    {% block email_subscription %}
    <iframe id="subscribe" width="800" height="205" src="https://mozilla.com.tw/newsletter/subscribe/embed/"></iframe>
    {% endblock %}
  </div>
  <!-- end of wrapper-->

</div>
<!-- end of outer-wrapper-->
</div>
{% block footer %}
  {% include "sandstone/footer.html" %}
{% endblock %}
<!--end of body_warpper-->
<div class="popup">
  {% block popup %}
  {% endblock %}
</div>
<div class="loginPopup">
  <div class="loginBox">
    <span class="popupTitle"></span>
    <div class="innerBox">
      <a class="persona-button browserid-login browserid" href="/events/"><span>使用 Persona 登入</span></a>
      <p>
        更簡易、更安全的登入方式－<a target="_blank" href="https://login.persona.org/about">認識 Persona »</a>
      </p>
      <p>或者你也可以：</p>
      <a class="persona-button facebook-login" href="{{ url("socialauth_begin", "facebook") }}{{ '?next=' + request.build_absolute_uri(login_url) if login_url else '' }}"><span>使用 Facebook 登入</span></a>
      <div class="fbpile" data-app-id="{{ FB_APP_ID }}"></div>
  {#    <div class="fb-login-button" data-width="300" show-faces="true" size="large"></div>#}
    </div>
  </div>
</div>

{% if not request.user.is_active %}
<form method="POST" action="{{ url('browserid_verify') }}">
  {{ csrf() }}
  {% if login_url %}
    <input type="hidden" name="next" value="{{ login_url }}">
  {% endif %}
  {{ browserid_form.as_p() }}
</form>
{% endif %}


{{ js('site') }}
{% block base_js %}
{% endblock %}
  {% if not request.user.is_active %}
    {{ js('browserid') }}
  {% endif %}
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId={{ FB_APP_ID }}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

</body>
</html>
