<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
  <ul id="nav-main-menu" class="has-submenus" role="menubar">
    <li id="nav-main-home" role="menuitem" class="first">
      <a title="Firefox 設計品首頁" class="no-submenu" href="{{ url('intro.home') }}" tabindex="-1"
         aria-haspopup="false">設計品首頁</a>
    </li>
    <li id="nav-main-design" role="menuitem" class="last">
      <a title="Firefox 設計品下載" class="no-submenu" href="{{ url('design.wall') }}" tabindex="-1"
         aria-haspopup="false">設計品下載</a>
    </li>
  </ul>
</nav>
