{% set page_title = 'Firefox 愛在鵲橋狐你幸福' %}
{% set page_description = 'Mozilla 致力於帶給世人更美好的網路未來，在浪漫七夕到來的時刻，邀請大家一起築起火狐愛的鵲橋，分享幸福傳遞知識，讓網路的福音散佈到每個角落！' %}
{% set page_image = 'img/event/chinese-valentines-day/ogimg.png' %}
{% set share_text = page_title %}

{% extends "base.html" %}

{% block html_classes %}
  {{ (' lt-ie9' if LT_IE9 else '') +
        (' lt-ie10' if LT_IE10 else '') +
        (('status-'+ campaign.status) if campaign and campaign.status else '') }}
{% endblock %}

{% block canonical %}{{ request.build_absolute_uri(url('campaign.lantern.festival', '')) }}{% endblock %}

{% block base_css %}
  {{ css('base') }}
  {{ css('chinese-valentines-day') }}
{% endblock %}
{% block base_js %}
  {{ js('chinese-valentines-day') }}
{% endblock %}

{% block head %}
  <header id="masthead">
    <a title="打開" role="button" href="/" id="tabzilla">Mozilla</a>
<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
  <ul id="nav-main-menu" role="menubar">
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="Firefox 產品特色" href="http://mozilla.com.tw/firefox/features/" tabindex="0">Firefox 產品特色</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="加入 Mozilla 社群" href="http://mozilla.com.tw/community/" tabindex="0">加入 Mozilla 社群</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="認識 Mozilla" href="http://mozilla.com.tw/about/" tabindex="0">認識 Mozilla</a>
    </li>
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="下載 Firefox" href="http://mozilla.com.tw/firefox/download/" tabindex="0">下載 Firefox</a>
    </li>
  </ul>
</nav>
  </header>
{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
  <div id="heading">
    <h1>七夕鵲橋小遊戲</h1>
    <h2>請依序完成四步驟，為牛郎織女築起鵲橋，<span>並參加 Firefox 精美贈品抽獎喔！（8/13 截止）</span></h2>
  </div>
  <div class="pyro"></div>
  <div id="earth" class="step0">
    <img id="valentine-positioning" width="100%" src="/static/img/event/chinese-valentines-day/valentine-positioning.png">
    <div id="cowboy"></div>
    <div id="weaver"></div>
    <div id="magpie-bridge">
      <img id="bridge-ratio" src="/static/img/event/chinese-valentines-day/bridge-ratio.png">
      <div id="m1-1" class="magpie stage0 first"></div>
      <div id="m1-2" class="magpie stage0 d1"></div>
      <div id="m1-3" class="magpie stage0 d2"></div>
      <div id="m1-4" class="magpie stage0 "></div>
      <div id="m1-5" class="magpie stage0 d1"></div>
      <div id="m1-6" class="magpie stage0 d2"></div>
      <div id="m1-7" class="magpie stage0"></div>
      <div id="m1-8" class="magpie stage0 d1"></div>
      <div id="m1-9" class="magpie stage0 d2"></div>
      <div id="m1-10" class="magpie stage0"></div>
      <div id="m1-11" class="magpie stage0 d1"></div>
      <div id="m1-12" class="magpie stage0 d2"></div>

      <div id="m2-1" class="magpie stage1 d2"></div>
      <div id="m2-2" class="magpie stage1"></div>
      <div id="m2-3" class="magpie stage1 d1"></div>
      <div id="m2-4" class="magpie stage1 d2"></div>
      <div id="m2-5" class="magpie stage1"></div>
      <div id="m2-6" class="magpie stage1 d1"></div>
      <div id="m2-7" class="magpie stage1 d2"></div>
      <div id="m2-8" class="magpie stage1"></div>
      <div id="m2-9" class="magpie stage1 d1"></div>
      <div id="m2-10" class="magpie stage1 d2"></div>
      <div id="m2-11" class="magpie stage1"></div>
      <div id="m2-12" class="magpie stage1 d1"></div>

      <div id="m3-1" class="magpie stage2 d2"></div>
      <div id="m3-2" class="magpie stage2"></div>
      <div id="m3-3" class="magpie stage2 d1"></div>
      <div id="m3-4" class="magpie stage2 d2"></div>
      <div id="m3-5" class="magpie stage2"></div>
      <div id="m3-6" class="magpie stage2 d1"></div>
      <div id="m3-7" class="magpie stage2 d2"></div>
      <div id="m3-8" class="magpie stage2"></div>
      <div id="m3-9" class="magpie stage2 d1"></div>
      <div id="m3-10" class="magpie stage2 d2"></div>
      <div id="m3-11" class="magpie stage2"></div>
      <div id="m3-12" class="magpie stage2 d1"></div>

      <div id="m4-1" class="magpie stage3 d2"></div>
      <div id="m4-2" class="magpie stage3"></div>
      <div id="m4-3" class="magpie stage3 d1"></div>
      <div id="m4-4" class="magpie stage3 d2"></div>
      <div id="m4-5" class="magpie stage3"></div>
      <div id="m4-6" class="magpie stage3 d1"></div>
      <div id="m4-7" class="magpie stage3 d2"></div>
      <div id="m4-8" class="magpie stage3"></div>
      <div id="m4-9" class="magpie stage3 d1"></div>
      <div id="m4-10" class="magpie stage3 d2"></div>
      <div id="m4-11" class="magpie stage3 last"></div>
    </div>
    <div id="hearts">
      <div class="heart1">&hearts;</div>
      <div class="heart2">&hearts;</div>
      <div class="heart3">&hearts;</div>
    </div>
    <div id="mini-game">
      <div id="steps">
        <div id="step-scroller">
          <div id="step0" class="step">
            <p><strong class="step-title">步驟一：</strong></p>

            <p>加入 Mozilla Taiwan 粉絲團，<br>讓你的社交生活充滿火狐的趣味</p>

            <div class="fb-like-box" data-href="http://www.facebook.com/MozillaTaiwan" data-height="80"
                 data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
                 data-show-border="true"></div>
            <p>若已按過讚，請按登入鈕進行驗證</p>
            <a id="login-fb" class="submitButton" data-next="2" href="javascript:void(0);">登入驗證</a>
          </div>
          <div id="step1" class="step">
            <p><strong class="step-title">步驟二：</strong></p>

            <p>分享部落格好文，<br>成為 Mozilla 產品與專案訊息通</p>
            <a target="_blank" class="myfx-post" href="http://blog.mozilla.com.tw/posts/5952/first-commercial-web-games-launch-leveraging-mozilla-pioneered-technology?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla">
              <div class="myfx-content">
                <div class="myfx-title">Mozilla 率先開發之技術首次應用於 Web 商業遊戲</div>
                <div class="myfx-description">Mozilla 不斷透過新的技術與開發工具，讓遊戲開發者能將現有的高人氣作品移植到 Web 之上，在在證明 Web 就是強大的遊戲平台。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(http://blog.mozilla.com.tw/wp-content/uploads/keeper-1024x607.jpg) center no-repeat; background-size: auto 100%"></div>
            </a>
            <a target="_blank" class="myfx-post" href="http://blog.mozilla.com.tw/posts/5940/how-can-we-write-better-software-interview-series-part-1?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla">
              <div class="myfx-content">
                <div class="myfx-title">該如何寫出更好的軟體？─ 系列訪談之一 (上)</div>
                <div class="myfx-description">Mozilla 不斷透過新的技術與開發工具，讓遊戲開發者能將現有的高人氣作品移植到 Web 之上，在在證明 Web 就是強大的遊戲平台。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(http://blog.mozilla.com.tw/wp-content/uploads/3899114449_84dd8a5c4e_o.jpg) center no-repeat; background-size: auto 100%"></div>
            </a>
            <a target="_blank" class="myfx-post" href="http://blog.mozilla.com.tw/posts/5997/chris-beard-named-ceo-of-mozilla?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla">
              <div class="myfx-content">
                <div class="myfx-title">Mozilla 任命 Chris Beard 為新任執行長</div>
                <div class="myfx-description">Mozilla 不斷透過新的技術與開發工具，讓遊戲開發者能將現有的高人氣作品移植到 Web 之上，在在證明 Web 就是強大的遊戲平台。</div>
              </div>
              <div class="myfx-thumb" width="100%" style="background: url(http://blog.mozilla.com.tw/wp-content/uploads/f_508769_1.jpg) center no-repeat; background-size: auto 100%"></div>
            </a>

            <a id="share-post" class="submitButton" data-next="4" href="javascript:void(0);">分享文章</a>
          </div>
          <div id="step2" class="step">
            <p><strong class="step-title">步驟三：</strong></p>

            <p>分享狐電視影片，<br>成為科技生活萬事通</p>
            <a target="_blank" class="myfx-video" href="https://myfirefox.com.tw/videos/23320?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla" style="background: url(https://myfirefox.com.tw/assets/images/fb_thumb/23320.jpg) center no-repeat; background-size: 100% auto;">
              <div class="myfx-content">
                <div class="myfx-title">簡介 Mozilla 與 Code Firefox</div>
              </div>
            </a>
            <a target="_blank" class="myfx-video" href="https://myfirefox.com.tw/videos/25939?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla" style="background: url(https://myfirefox.com.tw/assets/images/fb_thumb/25939.jpg) center no-repeat; background-size: 100% auto;">
              <div class="myfx-content">
                <div class="myfx-title">Firefox 趣味辦公室短片#1 - "快"是唯一</div>
              </div>
            </a>
            <a target="_blank" class="myfx-video" href="https://myfirefox.com.tw/videos/21808?utm_source=ffclub&utm_medium=website&utm_campaign=double7&utm_content=mozilla" style="background: url(https://myfirefox.com.tw/assets/images/fb_thumb/21808.jpg) center no-repeat; background-size: 100% auto;">
              <div class="myfx-content">
                <div class="myfx-title">Firefox 30 的 Box Model 強調功能</div>
              </div>
            </a>
            <a id="share-video" class="submitButton" data-next="4" href="javascript:void(0);">分享影片</a>
          </div>
          <div id="step3" class="step">
            <p><strong class="step-title">步驟四：</strong></p>

            <p>訂閱 Firefox 電子報，<br>無時無刻掌握網路世界的第一手資訊</p>
            <iframe id="subscription" border="0" width="100%" height="205" data-csrf-token="{{ csrf_token }}"
                    src="https://mozilla.com.tw/newsletter/subscribe/embed/?opaque=true&hide_archive=true"></iframe>
          </div>
          <div id="step4" class="step">
            <p>恭喜你搭起七夕鵲橋，<br>並成為推動 Web 為全民所有的一份子！</p>
            <div id="share-with-friends">
              快和朋友分享：
              <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            {% if campaign.status == 'running' %}
              <p class="notice">抽獎結果將於活動截止後公告，<br>請密切注意粉粉絲團及電子郵件的消息。</p>
            {% else %}
              <p class="notice">抽獎結果已公佈，<br>看看自己有沒有幸運中獎吧！</p>
            {% endif %}
            <p class="notice">獎品為 Firefox 筆記本一本（三種款式隨機分配）</p>
            <a id="enlarge-notebook" href="javascript:void(0);">
              <img width="160" src="/static/img/event/chinese-valentines-day/notebook-thumb.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img id="banner" src="/static/img/event/chinese-valentines-day/word.png">
  <div id="popup">
      <img id="notebook-large" src="/static/img/event/chinese-valentines-day/notebook.jpg">
  </div>
{% endblock %}

{% block email_subscription %}{% endblock %}

{% block footer %}{% endblock %}