<div id="header">
    <a href="/" title="Firefox" id="firefox_logo">Firefox</a>
    {% if sub_navi %}
    <div id="sub_navi">
        <ul>
            <li><a href="/thememaker/new" title="最新佈景" class="persona_login">最新佈景</a></li>
            <li><a href="/thememaker/hot" title="熱門佈景" class="fb_login">熱門佈景</a></li>
            <li><a href="/thememaker/fav" title="最愛佈景" class="logout">最愛佈景</a></li>
        </ul>
    </div><!-- end sub_navi -->
    {% endif %}
    <div id="login_section">
        <a class="login_account on loginButton" href="#" title="選擇登入帳號" class="default_login">選擇登入帳號</a>
        <a class="logined_account" href="#" title="歡迎 Vitlalalalawlejrlwerljlks" class="default_login" style="display:none;">歡迎 Vitlalalalawlejrlwerljlks</a>
        <ul>
            <li><a href="#" title="Persona 登入" class="persona_login">Persona 登入</a></li>
            <li><a href="#" title="Facebook 登入" class="fb_login">Facebook 登入</a></li>
            <li><a href="#" title="登出" class="logout">登出</a></li>
        </ul>
    </div><!-- end login_section -->
</div><!-- end header -->